footer {
  color: #fff;
  margin: 120px 0 0;
  background: #030418;
  padding: 40px 0 104px;
  line-height: 150%;
}
footer .logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
footer .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  font-size: 14px;
  font-weight: 300;
  margin: 24px 0 0;
  line-height: 150%;
}

.footer-box__title {
  width: 100%;
  margin: 0 0 16px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  font-weight: 500;
}
.footer-box__menu {
  font-size: 16px;
  font-weight: 500;
}
.footer-box__menu li {
  margin: 0 0 12px;
}
.footer-box__menu li:last-child {
  margin: 0;
}
.footer-box__menu li a {
  color: #fff;
}
.footer-box__menu li a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.document-list {
  font-size: 14px;
  font-weight: 300;
  margin: 24px 0 0;
  line-height: 130%;
}
.document-list li {
  margin: 0 0 12px;
}
.document-list li:last-child {
  margin: 0;
}

.mail-link {
  margin: 0 0 12px;
}

.phone-link, .mail-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
}
.phone-link:hover, .mail-link:hover {
  color: #7C0DC6;
}
.phone-link__icon, .mail-link__icon {
  stroke: #fff;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 8px 0 0;
}

.modal__div {
  position: fixed;
  max-width: 425px;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0;
}

.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal__wrapper {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 50px auto;
  padding: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.modal__wrapper h3 {
  text-align: center;
  margin: 0 auto 8px;
}
.modal__wrapper .box-text {
  line-height: 150%;
}

.check-image {
  margin: 0 auto 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#thanksModal .modal__wrapper {
  padding: 70px 28px 44px;
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 20px;
  right: 20px;
  stroke: #767676;
}

.overlay {
  z-index: 100;
  position: fixed;
  background-color: #030418;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.btn-close-modal {
  margin: 32px auto 0;
}