.home {
  padding: 144px 0 0;
}
.home .h1 {
  margin: 8px 0;
}

.home-slider__item {
  padding: 100px 0 190px;
}
.home-slider__item .box-text {
  max-width: 533px;
  position: relative;
  z-index: 1;
}
.home-slider__item .box-text .btn {
  margin: 40px 0 0;
}
.home-slider__item .description {
  max-width: 430px;
}
.home-slider .box-image {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 752px;
  width: 100%;
  mix-blend-mode: darken;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-wrapper {
  position: relative;
  width: 100%;
}

.home-slider-nav {
  width: 100%;
}
.home-slider-nav h3 {
  margin: 0 0 2px;
}
.home-slider-nav__item {
  width: 360px;
  border-radius: 12px;
  padding: 24px 13px 24px 24px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 1.3px solid #F8F3FC;
  margin: 0 8px 0 0;
  background: #fff;
}
.home-slider-nav__item:last-child {
  margin: 0;
}
.home-slider-nav .slick-current .home-slider-nav__item {
  border: 1.3px solid #F8F3FC;
}
.home-slider-nav .slick-current .home-slider-nav__item::before {
  width: 237px;
}
.home-slider-nav__wrapper {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
}

.slider-progress {
  border-radius: 0px 8px 0px 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  height: 6px;
  width: 237px;
}
.slider-progress span {
  border-radius: 0px 8px 0px 8px;
  background: #7C0DC6;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}
.slider-progress span.active {
  width: 100%;
}

.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs__caption-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tabs__caption-home li {
  border-radius: 12px;
  padding: 24px 60px 24px 24px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  margin: 0 8px 0 0;
  border: 1.3px solid transparent;
}
.tabs__caption-home li:last-child {
  margin: 0;
}
.tabs__caption-home li.active {
  border: 1.3px solid #F8F3FC;
}
.tabs__caption-home li.active::before {
  width: 237px;
}
.tabs__caption-home h3 {
  margin: 0 0 2px;
}

.chapter-card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #F8F8F8;
  border-radius: 8px;
  padding: 45px 70px 49px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}
.chapter-card .link {
  margin: auto 0 0;
}
.chapter-card__img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.chapter-card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  color: #161616;
  margin: 0 0 106px;
}
.chapter-card:hover .chapter-card__title {
  color: #7C0DC6;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #363636;
}
.link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  margin: 0 0 0 4px;
  stroke: #363636;
}

.advantages {
  margin: 40px 0 0;
  padding: 88px 0 89px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: radial-gradient(31.3% 49.2% at 61.09% 50.05%, rgba(124, 13, 198, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
}
.advantages h2 {
  top: 100px;
  position: sticky;
  max-width: 460px;
  font-size: 46px;
}

.advantages-list {
  margin: 0 0 0 auto;
  max-width: 769px;
  width: calc(100% - 500px);
}

.advantages-box {
  width: 100%;
  background: #fff;
  margin: 0 0 35px;
  padding: 40px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.advantages-box__icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background: #F8F3FC;
  padding: 5px;
}
.advantages-box__text {
  width: calc(100% - 40px);
  padding: 0 0 0 32px;
}
.advantages-box h3 {
  margin: 0 0 6px;
}
.advantages-box:last-child {
  margin: 0;
}

.product-card {
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-card__img {
  padding: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 100%;
  border: 1px solid #F8F3FC;
  border-radius: 8px;
}
.product-card__img img {
  max-height: 100%;
}
.product-card__body {
  padding: 16px 0 0;
  width: 100%;
  height: calc(100% - 300px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-card__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 16px;
}
.product-card__title {
  padding: 0 16px 0 0;
  color: #161616;
}
.product-card__title:hover {
  color: #7C0DC6;
}
.product-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
  margin: auto 0 0;
}
.product-card .btn {
  padding: 14px 24px;
}
.product-card .link-add-card {
  margin: 0 0 0 24px;
}
.product-card .promo-label-list {
  position: absolute;
  padding: 8px;
  top: 0;
  left: 0;
}

.price-wrapper {
  white-space: nowrap;
}

.price {
  font-size: 20px;
  font-weight: 500;
  color: #161616;
}

.promo-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 6px 10px 7.5px;
  line-height: normal;
  font-size: 12px;
  font-weight: 500;
}
.promo-label img {
  margin: 0 4px 0 0;
}

.promo-label-hit {
  background: rgba(124, 13, 198, 0.08);
  color: #7C0DC6;
}

.promo-label-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.promo-label-list li {
  margin: 0 8px 5px 0;
}
.promo-label-list li:last-child {
  margin: 0 0 5px;
}

.news-card {
  width: 100%;
  line-height: 150%;
}
.news-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 240px;
  border-radius: 8px;
}
.news-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.news-card__body {
  width: 100%;
  padding: 16px 0 0;
}
.news-card__title {
  color: #161616;
  font-size: 20px;
  font-weight: 500;
  margin: 16px 0 8px;
}
.news-card__title:hover {
  color: #7C0DC6;
}

.date {
  color: #767676;
  width: 100%;
}

.seo-section h2 {
  margin: 0 0 32px;
}

.page-catalog-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-catalog-content {
  width: calc(100% - 310px);
  padding: 0 0 0 35px;
}

.sidebar {
  border: 1.3px solid #F8F8F8;
  border-radius: 8px;
  max-width: 310px;
  width: 100%;
  padding: 24px;
  line-height: 150%;
}
.sidebar h3 {
  margin: 0 0 16px;
}

.sidebar-menu li {
  margin: 0 0 16px;
}
.sidebar-menu li:last-child {
  margin: 0;
}
.sidebar-menu li a {
  color: #363636;
}
.sidebar-menu li a:hover {
  color: #7C0DC6;
}
.sidebar-menu li a:hover .dropdown-toggle__icon {
  stroke: #7C0DC6;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px;
  width: 100%;
}
.dropdown-toggle__icon {
  stroke: #363636;
  fill: none;
  width: 16px;
  height: 16px;
  margin: 0 0 0 8px;
}
.dropdown-toggle:hover {
  background: #F8F3FC;
  color: #7C0DC6;
}

.dropdown.open .dropdown-toggle {
  color: #7C0DC6;
}
.dropdown.open .dropdown-toggle .dropdown-toggle__icon {
  stroke: #7C0DC6;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown-menu {
  margin: 8px 0 0;
  padding: 0 0 0 12px;
  display: none;
}
.dropdown-menu .dropdown-item {
  padding: 8px 24px;
  width: 100%;
}
.dropdown-menu .dropdown-item:hover {
  background: #F8F3FC;
}

.dropdown-catalog .btn-catalog.open .btn-catalog__icon {
  display: none;
}
.dropdown-catalog .btn-catalog.open .btn-catalog__icon-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dropdown-catalog .dropdown-menu {
  padding: 0;
  margin: 5px 0 0;
  overflow: hidden;
}
.dropdown-catalog .sidebar-menu li {
  margin: 0 0 8px;
}
.dropdown-catalog .sidebar-menu li:last-child {
  margin: 0;
}
.dropdown-catalog .sidebar-menu li .dropdown-item {
  padding-left: 36px;
}
.dropdown-catalog .sidebar-menu li .dropdown-menu {
  margin: 0;
}

.dropdown-menu-catalog {
  position: absolute;
  border: 1px solid #F8F3FC;
  border-radius: 10px;
  background: #FFFFFF;
  z-index: 10;
  min-width: 270px;
}

.page-information h1 {
  margin: 0 0 24px;
}

.banner {
  max-width: 310px;
  width: 100%;
  position: relative;
  background: #080244;
  color: #fff;
  padding: 40px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 150%;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  margin: 0 0 0 auto;
}
.banner h3 {
  color: #fff;
  margin: 0 0 8px;
}
.banner::before {
  content: "";
  position: absolute;
  background: url("../img/banner-bg.jpg") no-repeat center;
  background-size: cover;
  mix-blend-mode: luminosity;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  left: 0;
  top: 0;
  z-index: -1;
}
.banner .box-text {
  max-width: 240px;
}
.banner .btn {
  margin: 140px 0 0;
}

.form {
  margin: 40px 0 0;
  width: 100%;
}
.form .row {
  margin: 0 -12px;
}
.form .col-50, .form .col-100 {
  padding: 0 12px;
}

.input-text {
  position: absolute;
  left: 0;
  top: 14px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  line-height: 150%;
  width: 100%;
  padding: 0 16px;
  display: inline-block;
}

.product-image {
  background: #F8F8F8;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 65px 32px;
  height: 530px;
  max-width: 425px;
  width: 100%;
  position: sticky;
  top: 30px;
}
.product-image img {
  max-height: 100%;
}

.checkout-box {
  border-left: 1px solid #EBEBEB;
  padding: 0 0 115px 32px;
  position: sticky;
  top: 30px;
}
.checkout-box .list-characteristics {
  margin: 24px 0;
}

.list-characteristics {
  width: 100%;
  line-height: 17px;
  font-size: 14px;
}
.list-characteristics li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 16px;
}
.list-characteristics li:last-child {
  margin: 0;
}
.list-characteristics p {
  font-weight: 300;
}

.status-availability, .promo-link, .delivery-instant, .difference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.status-availability img, .promo-link img, .delivery-instant img, .difference img {
  margin: 0 6px 0 0;
  width: 16px;
}

.delivery-instant {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo-wrapper {
  width: 100%;
  margin: 16px 0 28px;
}
.promo-wrapper__label {
  margin: 10px 0 0;
  display: none;
}

.promo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
}
.promo-link span {
  border-bottom: 1.3px solid #7C0DC6;
}

.buy-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.buy-wrapper .btn {
  width: calc(50% - 4px);
}

.amount {
  margin: 0 auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #7C0DC6;
  border-radius: 6px;
  height: 44px;
  width: calc(50% - 4px);
  padding: 0 20px;
}
.amount span {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
}
.amount input {
  border: none;
  border-radius: 0;
  padding: 0;
  text-align: center;
  background: transparent;
  color: #7C0DC6;
  font-size: 20px;
  font-weight: 600;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.list-payment {
  margin: 24px 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-payment li {
  margin: 0 6px 10px 0;
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-payment li:last-child {
  margin: 0 0 10px;
}

.product-info-box {
  width: 100%;
  margin: 0 0 24px;
  padding: 0 0 24px;
  border-bottom: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-info-box:last-child {
  border: none;
  margin: 0;
  padding: 0;
}
.product-info-box__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 24px;
}
.product-info-box .promo-label-list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 24px 0 0;
}

.list-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-rating li {
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin: 0 4px 0 0;
  opacity: 0.5;
  fill: #F2994A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-rating li:last-child {
  margin: 0;
}
.list-rating li.star0 {
  fill: #FCEFCA;
}

.rating-value {
  color: #7C0DC6;
  line-height: 100%;
  padding: 0 0 4px;
  border-bottom: 1.3px dashed #7C0DC6;
  margin: 0 0 0 8px;
}

.link-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 auto;
  stroke: #5B5B5B;
  fill: none;
  width: 24px;
  height: 24px;
  min-width: 24px;
}

.difference {
  margin: 0 0 0 24px;
}

.logo-partner {
  margin: 0 0 8px;
}

.information-box {
  width: 100%;
  margin: 64px 0 56px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 32px;
  line-height: 150%;
}
.information-box .box-text {
  width: calc(100% - 167px);
  padding: 0 24px 0 0;
}

.tabs__caption-product {
  width: 100%;
  margin: 0 0 32px;
  position: relative;
  line-height: 140%;
  font-size: 20px;
}
.tabs__caption-product::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 4px);
  height: 2px;
  border-radius: 10px;
  background: #7C0DC6;
}
.tabs__caption-product li {
  padding: 10px 24px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 6px 6px 0 0;
}
.tabs__caption-product li:first-child {
  border-radius: 6px 6px 0px 6px;
}
.tabs__caption-product li.active {
  background: #7C0DC6;
  color: #fff;
}

.attention-box {
  margin: 64px 0 0;
}
.attention-box h3 {
  color: #EB5757;
  margin: 0 0 16px;
}
.attention-box .box-text {
  padding: 0;
  width: 100%;
}

.panel_heading {
  width: 100%;
  margin: 0 0 16px;
  background: #F8F8F8;
  border-radius: 8px;
  padding: 32px;
}
.panel_heading-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  stroke: #5B5B5B;
  fill: none;
}
.panel_heading.in .panel_heading-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.panel_heading:last-child {
  margin: 0;
}

.block_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  cursor: pointer;
}
.block_title h3 {
  margin: 0;
}

.block_hover {
  display: none;
  margin: 16px 0 0;
  color: #363636;
  line-height: 150%;
}

.article-card {
  width: 100%;
  height: 100%;
  line-height: 140%;
}
.article-card__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  height: 200px;
}
.article-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.article-card__body {
  width: 100%;
  padding: 20px 0 0;
}
.article-card__title {
  color: #161616;
}
.article-card__title:hover {
  color: #7C0DC6;
}

.recommended {
  margin: 40px 0;
}

.reviews h2 {
  margin: 0 0 24px;
}

.reviews-services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 32px;
}
.reviews-services h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 32px 0 0;
}

.reviews-services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews-services-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px 0 0;
  margin: 0 8px 0 0;
  border-right: 1px solid #EBEBEB;
}
.reviews-services-list li:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.reviews-services-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
}
.reviews-services-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #363636;
}
.reviews-services-list a:hover {
  color: #7C0DC6;
}