/*==========	Desktop First	==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1820px) {
  .list-filter {
    margin: 0 0 0 auto;
  }
}
@media only screen and (max-width: 1500px) {
  .reviews-product-slider {
    padding: 0 50px;
  }
  .reviews-product-slider .slick-prev {
    left: 0;
  }
  .reviews-product-slider .slick-next {
    right: 0;
  }
}
@media only screen and (max-width: 1380px) {
  .about-wrapper {
    padding: 40px;
  }
  .about-wrapper__image {
    max-width: 510px;
  }
  .about-wrapper__content {
    max-width: 715px;
  }
  header .logo {
    margin: 0 16px 0 0;
  }
  .search-wrapper {
    max-width: 374px;
    margin: 0 16px 0 auto;
  }
  .nav-menu {
    display: none;
  }
  .menu {
    margin: 0 0 20px;
  }
  .menu li {
    width: 100%;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slogans-products-item {
    padding: 30px;
  }
  .footer-box {
    margin: 0 80px 0 0;
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper-page-product footer {
    padding: 0 0 108px;
  }
  header .list-social {
    display: none;
  }
  .dropdown-catalog {
    margin: 0 auto 0 0;
  }
  .home-slider .box-image {
    max-width: 600px;
  }
  .your-choice .title-wrapper .link {
    display: none;
  }
  .your-choice .col-30 {
    width: 50%;
  }
  .your-choice .col-30:nth-child(2) {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container {
    padding: 0 15px;
  }
  .row {
    margin: 0 -15px;
  }
  .col-25, .col-30, .col-45, .col-50, .col-55, .col-70, .col-75, .col-100 {
    padding: 0 15px;
  }
  .col-25 {
    width: 33.33%;
  }
  .col-75 {
    width: 100%;
  }
  .d-pc {
    display: none;
  }
  .d-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner {
    margin: 40px 0 0;
    padding: 40px 24px;
    max-width: none;
  }
  .banner-img {
    max-width: 237px;
  }
  .banner .box-text {
    max-width: 392px;
  }
  .banner .btn {
    margin: 32px 0 0;
  }
  .col-45, .col-55 {
    width: 100%;
  }
  .product-content-wrapper {
    padding: 32px 0;
    background: #fff;
  }
  .product-image {
    height: 721px;
    position: relative;
    width: calc(100% - 96px - 16px);
  }
  .product-image .promo-label-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
  }
  .product-image__preview {
    max-width: 96px;
    height: 721px;
    overflow: hidden;
  }
  .product-image__preview-item {
    height: 120px;
  }
  .page-product .nav-breadcrumb .link-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-info-box:first-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .product-info-box .link-share {
    display: none;
  }
  .product-info-box__head {
    width: 100%;
  }
  .product-info-box .rating {
    margin: 0;
  }
  .product-info-box .promo-label-list {
    display: none;
  }
  .product-info-box h1 {
    max-width: none;
    width: 100%;
  }
  .product-info-box .btn-group {
    width: 100%;
  }
  .product-info-box .btn-group .btn {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .product-info-box .difference {
    margin: 0 24px 0 16px;
    white-space: nowrap;
  }
  .product-info-box__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .checkout-column {
    padding: 24px 15px;
    width: 100%;
    position: fixed;
    z-index: 5;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.81);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-top: 1.5px solid #F8F8F8;
  }
  .subtitle-product {
    margin: 4px 0 0;
    width: 100%;
  }
  .rating-value {
    margin: 0 0 0 16px;
  }
  .checkout-box {
    border: none;
    padding: 0;
    top: 0;
    position: relative;
    width: 100%;
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .checkout-box h3 {
    margin: 0 0 24px;
    width: 100%;
    display: none;
  }
  .checkout-box .list-characteristics {
    margin: 0 auto 0 0;
    width: calc(50% - 7.5px);
  }
  .checkout-box .btn-buy {
    width: calc(50% - 7.5px);
    margin: 0;
  }
  .checkout-box .delivery-instant {
    display: none;
  }
  .promo-wrapper {
    margin: 24px 0 0;
  }
  .information-box {
    margin: 32px 0 0;
  }
  .btn-toggle-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .payments-method {
    margin: 0;
  }
  .about-wrapper__content {
    max-width: 550px;
  }
  .about-wrapper__image {
    max-width: 480px;
  }
  .about-products .chapter-card__img {
    max-width: 170px;
  }
  .page-reviews .col-25 {
    width: 100%;
  }
  .checkout-box-fix {
    position: fixed;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 10;
    background: #fff;
    padding: 24px 20px;
    height: 88px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 24px 24px 0px 0px;
    -webkit-box-shadow: 0px -4px 40px 0px rgba(0, 0, 0, 0.08);
            box-shadow: 0px -4px 40px 0px rgba(0, 0, 0, 0.08);
    border-top: 1px solid #F9F2FF;
  }
  .checkout-box-fix .list-characteristics {
    width: 100%;
    margin: 12px 0 0;
  }
  .checkout-box-fix .key-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 8px;
    width: 100%;
  }
  .checkout-box-fix .delivery-instant {
    margin: 0 auto 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .checkout-box-fix .download-distribution {
    width: 100%;
    margin: 16px 0;
  }
  .checkout-box-fix.active {
    height: auto;
  }
  .checkout-box-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .distribution-page .product-info-box__head {
    margin: 0;
  }
  .slogans-products-item .h3 {
    font-size: 22px;
  }
  .slogans-products-item__image {
    max-width: 400px;
  }
  .product-pagination-image {
    display: none;
  }
  .faq {
    margin: 32px 0;
  }
  .reviews .col-75 {
    width: 75%;
  }
  .reviews .col-25 {
    width: 25%;
  }
}
@media only screen and (max-width: 992px) {
  .page {
    padding: 122px 0 0;
  }
  header {
    padding: 24px 0;
  }
  header .phone {
    display: none;
  }
  header.active .nav-menu {
    display: none;
  }
  .search-wrapper {
    margin: 0 0 0 auto;
  }
  .btn-burder {
    margin: 0;
  }
  .home {
    padding: 106px 0 0;
  }
  .home-slider .box-image {
    max-width: 572px;
    top: -80px;
    right: -197px;
  }
  .home-slider__item {
    background: #F8F3FC;
    border-radius: 20px;
    padding: 80px 24px 186px;
    overflow: hidden;
    position: relative;
  }
  .home-slider__item .box-text {
    max-width: 377px;
  }
  .home-slider__item .box-text .btn {
    margin: 32px 0 0;
  }
  .home-slider-nav__wrapper {
    bottom: 40px;
    padding: 0 24px;
  }
  .slider-progress {
    left: 24px;
    width: 404px;
  }
  .home-slider-nav__item {
    width: 404px;
    padding: 24px 50px 24px 24px;
    margin: 0 8px 8px 0;
  }
  .home-slider-nav__item:last-child {
    margin: 0;
  }
  .btn {
    padding: 14px 20px;
    height: 44px;
    font-size: 14px;
  }
  .h1 {
    font-size: 32px;
  }
  .progressBar {
    width: calc(100% - 167px);
  }
  .mb-40 {
    margin-bottom: 24px;
  }
  .product-card .btn {
    padding: 14px 13px;
    height: 42px;
  }
  .product-card .link-add-card {
    margin: 0 0 0 12px;
  }
  .product-card .promo-label-list {
    padding: 10px;
  }
  .product-card__footer {
    font-size: 14px;
  }
  .product-card__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product-card__title {
    padding: 0;
    width: 100%;
  }
  .product-card__img {
    height: 310px;
    padding: 20px;
  }
  .product-card__body {
    height: calc(100% - 310px);
  }
  .promo-label {
    padding: 5.5px 10px;
    font-size: 10px;
    font-weight: 300;
  }
  .advantages-list {
    width: 100%;
    max-width: none;
  }
  .advantages {
    padding: 40px 0;
  }
  .advantages h2 {
    max-width: none;
    font-size: 30px;
  }
  .reviews-product-slider {
    padding: 0;
    margin: 32px 0;
  }
  .tabs-characteristics {
    margin: 32px 0;
  }
  .reviews-product-box__head h3 {
    font-size: 22px;
    max-width: none;
  }
  .news .row-scroll {
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .news .col-30 {
    display: block;
    width: 320px;
    min-width: 320px;
  }
  .requisites {
    max-width: 328px;
    margin: 116px 0 0;
  }
  .contats-wrapper {
    margin: 40px 0;
    padding: 40px 24px 24px;
  }
  .contats-wrapper__content {
    width: calc(100% - 328px);
  }
  .contats-wrapper .box-text {
    margin: 8px 0 40px;
  }
  .checkout-box .promo-wrapper__label {
    width: 100%;
  }
  .distribution-line .product-line__name-title {
    font-size: 16px;
  }
  .distribution-line .product-line__name-category {
    font-size: 14px;
  }
  .distribution-line-characteristics li {
    margin: 0 10px 0 0;
  }
  .about-wrapper__content {
    font-size: 14px;
    max-width: 340px;
  }
  .about-products .chapter-card__img {
    max-width: 120px;
  }
  .ordered-product {
    padding: 30px 15px;
  }
  .form-sale .copy-line {
    padding: 10px 16px;
  }
  .slogans-products {
    margin: 60px 0 40px;
  }
  .slogans-products .col-70, .slogans-products .col-30 {
    width: 100%;
  }
  .slogans-products-item {
    margin: 0 0 20px;
    height: auto;
  }
  .slogans-products-item:last-child {
    margin: 0 0 20px;
  }
  .reviews-gallery__photo {
    display: none;
  }
  .reviews-gallery__photo:nth-child(-n+5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn-all-photo {
    height: 96px;
  }
  .reviews {
    margin: 32px 0 0;
  }
  .reviews .box-text {
    font-size: 16px;
  }
  footer {
    margin: 32px 0 0;
    line-height: 120%;
  }
  .footer-top {
    padding: 32px 0;
  }
  .footer-bottom {
    font-size: 14px;
    padding: 16px 0 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .document-list li {
    margin: 0 16px 0 0;
  }
  .copyright {
    max-width: 195px;
  }
  .footer-box {
    margin: 0 20px 0 0;
  }
  .footer-box__menu {
    font-size: 14px;
  }
  .footer-menu-wrapper .footer-box__menu {
    margin: 0 30px 0 0;
  }
}
@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    margin: 0;
  }
  .search-wrapper {
    max-width: 335px;
  }
  .m-80 {
    margin: 60px 0;
  }
  h2 {
    font-size: 32px;
    margin: 0 0 32px;
  }
  .your-choice .col-30:nth-child(2) .chapter-card__img {
    max-width: 305px;
    bottom: -40px;
    right: 0;
  }
  .your-choice .col-30:nth-child(2) .chapter-card__title {
    max-width: 284px;
  }
  .chapter-card {
    padding: 32px 16px;
    min-height: 250px;
    overflow: hidden;
  }
  .chapter-card__title {
    margin: 0 0 60px;
    max-width: 180px;
    font-size: 16px;
  }
  .chapter-card__img {
    right: -20px;
    max-width: 200px;
  }
  .advantages {
    background: radial-gradient(162.96% 71.34% at 100% 100%, rgba(124, 13, 198, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .advantages h2 {
    font-size: 24px;
  }
  .advantages-box {
    margin: 0 0 16px;
  }
  .advantages-box:last-child {
    margin: 0;
  }
  .hot-prices .col-25 {
    display: none;
  }
  .hot-prices .col-25:nth-child(-n+3) {
    display: block;
  }
  .news-card__title {
    margin: 12px 0 5px;
  }
  .seo-section h2 {
    margin: 0 0 24px;
    padding: 0;
  }
  .reviews h2 {
    padding: 0;
    margin: 0 0 16px;
  }
  .reviews-services h3 {
    font-size: 16px;
  }
  footer {
    margin: 32px 0 0;
    font-size: 14px;
  }
  footer .logo {
    display: none;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-wrapper .footer-box {
    max-width: 233px;
    min-width: 233px;
    width: 100%;
  }
  .footer-menu-wrapper {
    display: none;
  }
  .footer-menu-wrapper .footer-box__menu {
    width: 50%;
    margin: 0;
  }
  .footer-box {
    margin: 0 0 8px;
  }
  .footer-box:last-child {
    margin: 0;
  }
  .footer-box__title {
    display: none;
  }
  .footer-box__title-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    margin: 0 0 8px;
    font-weight: normal;
  }
  .footer-box-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
  .footer-box-first li {
    margin: 0 0 8px;
  }
  .footer-box-first li:last-child {
    margin: 0;
  }
  .requisites-list {
    margin: 0 0 0 32px;
  }
  label {
    margin: 0 0 24px;
  }
  .information-box .box-text {
    width: 100%;
    margin: 0 0 24px;
    padding: 0;
  }
  .product-info-box .btn-group {
    max-width: none;
    width: calc(100% - 142px - 24px);
  }
  .product-info-box h1 {
    max-width: none;
    width: 100%;
    margin: 0 0 4px;
  }
  .product-info-box:first-child .product-info-box__footer {
    margin: 0;
  }
  .difference {
    margin: 0 0 0 auto;
  }
  .attention-box {
    margin: 60px 0;
  }
  .articles-product h2 {
    padding: 0;
  }
  .page-error-wrapper__image {
    max-width: 690px;
  }
  .table, table {
    margin: 40px 0;
  }
  .tabs__caption li {
    margin: 0 6px 10px 0;
  }
  .tabs__caption li:last-child {
    margin: 0 0 10px;
  }
  .tabs__content {
    margin: 28px 0 0;
  }
  .page-news h1 {
    margin: 0 0 16px;
  }
  .page-news .title-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-news .title-wrapper__text {
    width: 100%;
  }
  .page-news .title-wrapper .box-text {
    display: none;
  }
  .list-filter {
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0 0 20px;
    padding: 0 0 12px;
  }
  .list-filter-link.active {
    background: #F8F3FC;
    color: #7C0DC6;
  }
  .news-row .col-30, .news-row .col-25 {
    width: 50%;
  }
  .btn-load {
    margin: 20px auto 0;
  }
  .about-wrapper {
    padding: 40px 12px 233px;
  }
  .about-wrapper__image {
    right: -50px;
  }
  .about-wrapper__content {
    max-width: none;
  }
  .about-wrapper h1 {
    max-width: none;
  }
  .about-products .box-text {
    margin: 24px 0 20px;
  }
  .about-products .chapter-card__img {
    max-width: 170px;
  }
  .about-products .banner .box-text {
    margin: 0;
  }
  .title-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rating-company {
    width: 100%;
    margin: 20px 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .rating-company-values {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .adding-review-user {
    padding: 0 0 0 24px;
    margin: 24px 0 0;
  }
  .slogans-products-item__image {
    margin: 10px auto -30px;
    position: relative;
    right: 0;
  }
  .slogans-products-item__content {
    max-width: none;
  }
  .slogans-products-item .box-text {
    max-width: none;
  }
  .tabs__caption-product {
    font-size: 14px;
  }
  .tabs__caption-product li {
    margin: 0;
  }
  .tabs__caption-product li:last-child {
    margin: 0;
  }
  .faq, .articles-product {
    margin: 32px 0;
  }
  .article-slider {
    width: calc(100% + 30px);
  }
  .article-slider .slick-slide {
    width: 341px;
    margin-bottom: 0;
  }
  .recommended .product-col {
    min-width: 371px;
  }
  .row-scroll {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: auto;
  }
  .recommended {
    margin: 32px 0;
  }
  .warranty-box-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .warranty-box-product::before {
    top: 30px;
  }
  .warranty-box-product:after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 auto;
    width: 24px;
    height: 24px;
    min-width: 24px;
    background: url("../img/arrow-warranty.svg") no-repeat center;
    background-size: 100%;
  }
  .warranty-box-product .link {
    display: none;
  }
}
@media only screen and (max-width: 710px) {
  .search-wrapper {
    max-width: 300px;
  }
  .home-slider .box-image {
    max-width: 500px;
  }
  .col-25 {
    width: 50%;
  }
  .checkout-column {
    width: 100%;
  }
  .seo-section h2 {
    margin: 0 0 24px;
  }
  .tabs__caption-product {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
  }
  .tabs__caption-product li {
    white-space: nowrap;
  }
  .requisites {
    max-width: none;
    width: 100%;
    margin: 8px 0 0;
    padding: 16px 24px;
  }
  .contats-wrapper {
    padding: 40px 13px;
  }
  .contats-wrapper__content {
    width: 100%;
  }
  .contats-wrapper .box-text {
    margin: 8px 0 32px;
  }
  .article-evaluation {
    width: 100%;
    margin: 16px 0 0;
  }
  .page-acticle-line .news-box__report {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 16px 0 0;
  }
  .page-acticle-line .list-category-news {
    margin: 0 auto 0 0;
  }
  .page-acticle h2 {
    margin: 15px 0 10px;
  }
  .page-review-product .col-70 {
    width: 100%;
  }
  .page-review-product .col-30 {
    display: none;
  }
  .ordered-product {
    margin: 30px 0 0;
  }
}
@media only screen and (max-width: 650px) {
  .search-wrapper {
    display: none;
  }
  .copyright {
    margin: 0 0 24px;
  }
  .document-list {
    width: 100%;
  }
  .requisites-list {
    margin: 0 0 0 20px;
  }
}
@media only screen and (max-width: 576px) {
  header {
    padding: 12px 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header .logo {
    max-width: 100px;
    margin: 0 auto 0 0;
  }
  .breadcrumb {
    font-weight: 400;
  }
  .breadcrumb li:first-child a {
    color: #767676;
    font-weight: 300;
  }
  .breadcrumb li a {
    color: #161616;
  }
  .logo {
    max-width: 120px;
  }
  .mobile-menu {
    padding: 20px;
  }
  .mobile-menu__head {
    margin: 0 0 20px;
  }
  .mobile-menu__close {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
  .mobile-menu .form-search {
    margin: 0 0 24px;
  }
  .mobile-menu__body {
    height: calc(100% - 24px - 24px);
  }
  .mobile-menu__footer .btn {
    height: 48px;
  }
  .dropdown-catalog {
    display: none;
  }
  .btn {
    height: 44px;
    padding: 10px 16px;
    font-size: 16px;
  }
  .title-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 24px;
  }
  .title-wrapper h2 {
    margin: 0;
  }
  .title-wrapper .link {
    display: none;
  }
  .home .container {
    padding: 0 8px;
  }
  .home .btn {
    height: 38px;
    font-size: 16px;
  }
  .home-slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 12px 135px;
    font-size: 14px;
  }
  .home-slider__item .description {
    max-width: none;
  }
  .home-slider .box-text {
    max-width: none;
    width: 100%;
  }
  .home-slider .box-text .btn {
    margin: 24px 0 0;
  }
  .home-slider .box-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto 24px;
    max-width: 335px;
    position: relative;
    right: 0;
    top: 0;
  }
  .h1 {
    margin: 8px 0;
    font-size: 26px;
  }
  .home-slider-nav__wrapper {
    padding: 0 12px;
    bottom: 18px;
  }
  .home-slider-nav__item {
    font-size: 14px;
    width: 335px;
    padding: 24px;
  }
  .slider-progress {
    left: 12px;
    width: 335px;
  }
  h2 {
    font-size: 20px;
    padding: 0;
  }
  h3 {
    font-size: 16px;
  }
  .your-choice .col-30 {
    width: 100%;
  }
  .your-choice .col-30:nth-child(2) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .your-choice .col-30:nth-child(2) .chapter-card__img {
    max-width: 258px;
  }
  .chapter-card {
    min-height: 200px;
  }
  .chapter-card__img {
    max-width: 170px;
  }
  .advantages {
    background: radial-gradient(75.51% 27.58% at 80.27% 54.82%, rgba(124, 13, 198, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .advantages-box {
    padding: 24px 12px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 14px;
    margin: 0 0 24px;
  }
  .advantages-box__text {
    width: calc(100% - 32px);
    padding: 0 0 0 16px;
  }
  .advantages-box__icon {
    width: 32px;
    height: 32px;
  }
  .advantages-box h3 {
    font-size: 18px;
  }
  .advantages-list {
    width: calc(100% + 15px);
    margin: 0 -7.5px;
  }
  .hot-prices .col-25 {
    display: none;
  }
  .hot-prices .col-25:nth-child(-n+3) {
    display: none;
  }
  .hot-prices .col-25:nth-child(-n+2) {
    display: block;
  }
  .news-card {
    font-size: 14px;
  }
  .news-card__title {
    font-size: 18px;
  }
  .news-card__img {
    height: 200px;
  }
  .m-100 {
    margin: 80px 0;
  }
  .seo-section .box-text {
    font-size: 14px;
  }
  .reviews-services h3 {
    width: 100%;
    margin: 0 0 16px;
  }
  .page {
    padding: 84px 0 0;
  }
  .sorting-wrapper {
    display: none;
  }
  h1 {
    font-size: 20px;
  }
  .col-30 {
    width: 50%;
  }
  .banner-img {
    max-width: 183px;
    right: -25px;
  }
  .banner .box-text {
    max-width: 180px;
  }
  .banner .btn {
    margin: 40px 0 0;
    height: 52px;
    padding: 10px 24px;
  }
  .banner h3 {
    font-size: 20px;
  }
  .form .col-50 {
    width: 100%;
  }
  .modal__div {
    max-width: 335px;
  }
  .modal__div h3 {
    font-size: 20px;
  }
  #thanksModal .modal__wrapper, #errorModal .modal__wrapper {
    padding: 50px 17px 40px;
  }
  .page-product .nav-breadcrumb .link-share {
    display: none;
  }
  .product-info-box:first-child .product-info-box__footer {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin: 0 0 19px;
  }
  .product-info-box:first-child .product-info-box__footer .list-characteristics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 0 0;
  }
  .product-info-box:first-child .product-info-box__footer .list-characteristics span {
    margin: 0 0 0 8px;
  }
  .product-info-box:first-child__head {
    margin: 0;
  }
  .product-info-box .btn-group {
    width: 100%;
  }
  .product-info-box .btn-group .btn {
    height: 44px;
    font-size: 16px;
  }
  .product-image {
    height: 419px;
    width: 100%;
  }
  .product-image__preview {
    display: none;
  }
  .delivery-instant, .list-payment, .payments-method {
    display: none;
  }
  .difference {
    width: 100%;
    margin: 16px 0 0;
  }
  .promo-link {
    margin: 0 auto;
  }
  .list-characteristics li {
    margin: 0 0 8px;
  }
  .list-characteristics li:last-child {
    margin: 0;
  }
  .information-box {
    margin: 25px 0 50px;
    padding: 24px 16px;
  }
  .information-box .box-text {
    margin: 0 0 16px;
  }
  .attention-box {
    margin: 40px 0 60px;
  }
  .attention-box__icon {
    display: none;
  }
  .attention-box__text {
    width: 100%;
    padding: 0;
  }
  .panel_heading h3 {
    font-size: 18px;
  }
  .block_title h3 {
    font-size: 16px;
  }
  .block_hover {
    padding: 0 13px 24px;
  }
  .faq .block_hover {
    margin: 0;
  }
  .articles-product .col-30 {
    width: 320px;
    min-width: 320px;
  }
  .form .btn {
    width: 100%;
  }
  .seo-section h2 {
    max-width: 480px;
  }
  .page-error .box-text {
    margin: 48px auto 24px;
  }
  .page-error-wrapper__image {
    max-width: 335px;
  }
  .table, table {
    margin: 40px 0;
  }
  .table th, .table td, table th, table td {
    padding: 12px;
  }
  .table th:first-child, .table td:first-child, table th:first-child, table td:first-child {
    width: 50%;
  }
  .tabs__caption {
    font-size: 14px;
  }
  .tabs__caption li {
    padding: 11px 15px;
  }
  .tabs__content {
    margin: 10px 0 0;
  }
  .about-products .col-30 {
    width: 100%;
  }
  .news-box-max .news-box__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-box-max .list-category-news {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 24px 0 0;
  }
  .news-box__title {
    width: 100%;
  }
  .news-row .mb-40 {
    margin-bottom: 32px;
  }
  .news-row .col-30, .news-row .col-25 {
    width: 100%;
  }
  .recommended .product-col {
    min-width: 225px;
  }
  .product-card__avialability {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 8px 0 0;
  }
  .product-card .rating {
    margin: 0 8px 0 0;
  }
  .product-card .price-wrapper {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 8px 0 0;
  }
  .product-card__title {
    font-size: 16px;
  }
  .distribution-box {
    padding: 30px 20px;
    font-size: 14px;
  }
  .distribution-box__title {
    font-size: 16px;
  }
  .mb-35 {
    margin-bottom: 20px;
  }
  .distribution-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .distribution-line .btn {
    margin: 0 auto;
    width: 100%;
  }
  .distribution-line .product-line__name {
    width: calc(100% - 56px);
    padding: 0 0 0 15px;
  }
  .distribution-line-characteristics {
    width: 100%;
    margin: 10px;
    font-size: 14px;
  }
  .disctribution-content {
    margin: 40px 0 0;
  }
  .disctribution-content h3 {
    margin: 0 0 20px;
    font-size: 22px;
  }
  .page-reviews .tabs__caption {
    margin: 20px 0;
  }
  .reviews-box__footer {
    margin-top: 16px;
  }
  .reviews-box__user {
    width: 100%;
    margin: 10px 0 0;
    text-align: left;
  }
  .reviews-box__user-name {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reviews-box__user-avatar {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 10px 0 0;
  }
  .answer-box {
    padding-left: 16px;
    margin-top: 24px;
  }
  blockquote {
    padding: 0 0 0 20px;
    margin: 20px 0 24px;
  }
  .about-products .mb-60 {
    margin-bottom: 16px;
  }
  .about-products .col-25 {
    max-width: none;
    width: 100%;
  }
  .adding-review .col-50 {
    width: 100%;
  }
  .star-rating {
    width: 100%;
    margin: 8px 0 0;
  }
  .checkout-box-fix .delivery-instant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-sale .copy-line {
    width: 100%;
    margin: 0 0 16px;
    max-width: none;
  }
  .slogans-products-item .h3 {
    font-size: 18px;
  }
  .reviews .col-25, .reviews .col-75 {
    width: 100%;
  }
  .reviews-section__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 32px 0 0;
    height: auto;
  }
  .reviews-section__nav .btn {
    margin: 0 0 0 auto;
  }
  .reviews-gallery {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    width: calc(100% + 15px);
    margin: 32px 0 26px;
  }
  .reviews-gallery__photo {
    width: 80px;
    height: 80px;
    min-width: 80px;
  }
  .btn-all-photo {
    height: 80px;
    white-space: nowrap;
  }
  .checkout-column {
    padding: 20px;
    -webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.07);
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.07);
  }
  .checkout-box .list-characteristics {
    width: 100%;
  }
  .checkout-box .btn {
    height: 44px;
    font-size: 16px;
    margin: 16px 0 0;
    width: 100%;
  }
  .wrapper-page-product footer {
    padding: 0 0 142px;
  }
  .footer-top {
    padding: 24px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-box__title {
    font-size: 18px;
  }
  .footer-box-first {
    display: none;
  }
  .footer-wrapper {
    width: 100%;
  }
  .footer-wrapper .footer-box {
    max-width: none;
    min-width: auto;
  }
  .footer-bottom {
    padding: 24px 0 0;
  }
  .document-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .document-list li:first-child {
    text-align: right;
  }
  .document-list li:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .d-mobile {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .product-card__img {
    padding: 40px 0;
    border: none;
    background: #F8F8F8;
  }
  .product-card .promo-label-list {
    padding: 8px 1px;
  }
  .product-card__footer .btn {
    display: none;
  }
  .product-card .link-add-card {
    margin: 0;
  }
  .promo-label {
    font-size: 10px;
  }
  .price {
    font-size: 18px;
  }
  .table, table {
    font-size: 12px;
    line-height: normal;
  }
  .product-info-box .btn-group .btn {
    width: 100%;
    margin-right: 0;
  }
  .home-slider-nav__item, .slider-progress {
    width: 300px;
  }
}
@media only screen and (max-width: 370px) {
  .home-slider-nav__item, .slider-progress {
    width: 270px;
  }
  .page-acticle .box-text .product-line__name {
    font-size: 18px;
  }
  table th, table td {
    padding: 10px;
  }
  .table, table {
    font-size: 10px;
  }
  .distribution-box {
    padding: 20px 15px;
  }
  .distribution-box__title {
    font-size: 14px;
  }
}