/*==========	Desktop First	==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1820px) {
  .list-filter {
    margin: 0 0 0 auto;
  }
}
@media only screen and (max-width: 1200px) {
  header .logo {
    margin: 0 30px 0 0;
  }
  .menu li {
    margin: 0 0 0 30px;
  }
  .home-slider .box-image {
    max-width: 600px;
  }
  .your-choice .title-wrapper .link {
    display: none;
  }
  .your-choice .col-30 {
    width: 50%;
  }
  .your-choice .col-30:nth-child(2) {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container {
    padding: 0 15px;
  }
  .row {
    margin: 0 -15px;
  }
  .col-25, .col-30, .col-45, .col-50, .col-55, .col-70, .col-75, .col-100 {
    padding: 0 15px;
  }
  .col-25 {
    width: 33.33%;
  }
  .col-75 {
    width: 100%;
  }
  .d-pc {
    display: none;
  }
  .d-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner {
    margin: 40px 0 0;
    padding: 40px 24px;
    max-width: none;
  }
  .banner-img {
    max-width: 237px;
  }
  .banner .box-text {
    max-width: 392px;
  }
  .banner .btn {
    margin: 32px 0 0;
  }
  .col-45, .col-55 {
    width: 100%;
  }
  .product-image {
    top: 0;
    max-width: 690px;
    height: 641px;
    margin: 0 auto 24px;
    position: relative;
  }
  .product-image .promo-label-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
  }
  .page-product .nav-breadcrumb .link-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-info-box:first-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .product-info-box .link-share {
    display: none;
  }
  .product-info-box__head {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .product-info-box .rating {
    margin: 0;
  }
  .product-info-box .promo-label-list {
    display: none;
  }
  .product-info-box h1 {
    max-width: 410px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto 0 0;
  }
  .product-info-box .btn-group {
    max-width: 526px;
    width: 100%;
  }
  .product-info-box .btn-group .btn {
    width: calc(50% - 4px);
  }
  .product-info-box__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rating-value {
    margin: 0 0 0 16px;
  }
  .checkout-box {
    border: none;
    padding: 0;
    top: 0;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .checkout-box h3 {
    margin: 0 0 24px;
    width: 100%;
  }
  .checkout-box .list-characteristics {
    margin: 0 0 24px;
    width: calc(50% - 4px);
  }
  .checkout-box label {
    width: calc(50% - 4px);
  }
  .promo-wrapper {
    margin: 24px 0 0;
  }
  .information-box {
    margin: 40px 0;
  }
  .btn-toggle-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (max-width: 992px) {
  .page {
    padding: 122px 0 0;
  }
  header {
    padding: 30px 0 24px;
  }
  header .btn-mail, header .link-tg, header .phone {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .menu {
    margin: 0 0 20px;
  }
  .menu li {
    width: 100%;
    margin: 0 0 20px;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dropdown-catalog {
    margin: 0 auto 0 0;
  }
  .home {
    padding: 106px 0 0;
  }
  .home-slider .box-image {
    max-width: 572px;
    top: -80px;
    right: -197px;
  }
  .home-slider__item {
    background: #F8F3FC;
    border-radius: 20px;
    padding: 80px 24px 186px;
    overflow: hidden;
    position: relative;
  }
  .home-slider__item .box-text {
    max-width: 377px;
  }
  .home-slider__item .box-text .btn {
    margin: 32px 0 0;
  }
  .home-slider-nav__wrapper {
    bottom: 40px;
    padding: 0 24px;
  }
  .slider-progress {
    left: 24px;
    width: 404px;
  }
  .home-slider-nav__item {
    width: 404px;
    padding: 24px 50px 24px 24px;
    margin: 0 8px 8px 0;
  }
  .home-slider-nav__item:last-child {
    margin: 0;
  }
  .btn {
    padding: 14px 20px;
    height: 44px;
  }
  .h1 {
    font-size: 32px;
  }
  .progressBar {
    width: calc(100% - 167px);
  }
  .mb-40 {
    margin-bottom: 24px;
  }
  .product-card .btn {
    padding: 14px 13px;
    height: 42px;
  }
  .product-card .link-add-card {
    margin: 0 0 0 12px;
  }
  .product-card .promo-label-list {
    padding: 10px;
  }
  .product-card__footer {
    font-size: 14px;
  }
  .product-card__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product-card__title {
    padding: 0;
    width: 100%;
    margin: 0 0 8px;
  }
  .product-card__img {
    height: 255px;
    padding: 40px 30px;
  }
  .product-card__body {
    height: calc(100% - 255px);
  }
  .btn {
    font-size: 14px;
  }
  .promo-label {
    padding: 5.5px 10px;
    font-size: 10px;
    font-weight: 300;
  }
  .advantages-list {
    width: 100%;
    max-width: none;
  }
  .advantages {
    padding: 40px 0;
  }
  .advantages h2 {
    max-width: none;
    font-size: 30px;
  }
  .news .row-scroll {
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .news .col-30 {
    display: block;
    width: 320px;
    min-width: 320px;
  }
  .requisites {
    max-width: 328px;
    margin: 116px 0 0;
  }
  .contats-wrapper {
    margin: 40px 0;
    padding: 40px 24px 24px;
  }
  .contats-wrapper__content {
    width: calc(100% - 328px);
  }
  .contats-wrapper .box-text {
    margin: 8px 0 40px;
  }
  .checkout-box .promo-wrapper__label {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    margin: 0;
  }
  .m-80 {
    margin: 60px 0;
  }
  h2 {
    font-size: 24px;
    margin: 0 0 24px;
  }
  .your-choice .col-30:nth-child(2) .chapter-card__img {
    max-width: 305px;
    bottom: -40px;
    right: 0;
  }
  .your-choice .col-30:nth-child(2) .chapter-card__title {
    max-width: 284px;
  }
  .chapter-card {
    padding: 32px 16px;
    min-height: 250px;
    overflow: hidden;
  }
  .chapter-card__title {
    margin: 0 0 60px;
    max-width: 180px;
    font-size: 16px;
  }
  .chapter-card__img {
    right: -20px;
    max-width: 200px;
  }
  .advantages {
    background: radial-gradient(162.96% 71.34% at 100% 100%, rgba(124, 13, 198, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .advantages h2 {
    font-size: 24px;
  }
  .advantages-box {
    margin: 0 0 16px;
  }
  .advantages-box:last-child {
    margin: 0;
  }
  .hot-prices .col-25 {
    display: none;
  }
  .hot-prices .col-25:nth-child(-n+3) {
    display: block;
  }
  .news-card__title {
    margin: 12px 0 5px;
  }
  .seo-section h2 {
    margin: 0 0 24px;
    padding: 0;
  }
  .reviews h2 {
    padding: 0;
    margin: 0 0 16px;
  }
  .reviews-services h3 {
    font-size: 16px;
  }
  footer {
    margin: 100px 0 0;
    padding: 40px 0 50px;
  }
  .footer-box:last-child {
    width: 40%;
    margin: -110px 0 0;
  }
  label {
    margin: 0 0 24px;
  }
  .information-box .box-text {
    width: 100%;
    margin: 0 0 24px;
    padding: 0;
  }
  .product-info-box .btn-group {
    max-width: none;
    width: calc(100% - 142px - 24px);
  }
  .difference {
    margin: 0 0 0 auto;
  }
  .tabs__caption-product {
    font-size: 16px;
    margin: 0 0 24px;
  }
  .attention-box {
    margin: 60px 0;
  }
  .articles-product h2, .recommended h2 {
    padding: 0;
  }
  .article-card__title {
    font-weight: 600;
  }
  .page-error-wrapper__image {
    max-width: 690px;
  }
  .table {
    margin: 40px 0;
  }
  .about-products {
    margin: 40px 0 28px;
  }
  .about-products .box-text {
    margin: 8px 0 24px;
  }
  .about-products .col-30 {
    width: 50%;
  }
  .about-products .chapter-card .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tabs__caption li {
    margin: 0 6px 10px 0;
  }
  .tabs__caption li:last-child {
    margin: 0 0 10px;
  }
  .tabs__content {
    margin: 28px 0 0;
  }
  .page-news h1 {
    margin: 0 0 16px;
  }
  .page-news .title-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-news .title-wrapper__text {
    width: 100%;
  }
  .page-news .title-wrapper .box-text {
    display: none;
  }
  .list-filter {
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0 0 20px;
    padding: 0 0 12px;
  }
  .list-filter-link.active {
    background: #F8F3FC;
    color: #7C0DC6;
  }
  .news-row .col-30, .news-row .col-25 {
    width: 50%;
  }
  .btn-load {
    margin: 20px auto 0;
  }
}
@media only screen and (max-width: 710px) {
  .home-slider .box-image {
    max-width: 500px;
  }
  .col-25 {
    width: 50%;
  }
  .seo-section h2 {
    margin: 0 0 24px;
  }
  .product-info-box h1 {
    max-width: none;
    width: 100%;
    margin: 0 0 16px;
  }
  .product-info-box:first-child .product-info-box__footer {
    margin: 0;
  }
  .tabs__caption-product {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
  }
  .tabs__caption-product li {
    white-space: nowrap;
  }
  .requisites {
    max-width: none;
    width: 100%;
    margin: 8px 0 0;
    padding: 16px 24px;
  }
  .contats-wrapper {
    padding: 40px 13px;
  }
  .contats-wrapper__content {
    width: 100%;
  }
  .contats-wrapper .box-text {
    margin: 8px 0 32px;
  }
  .article-evaluation {
    width: 100%;
    margin: 16px 0 0;
  }
  .page-acticle-line .news-box__report {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 16px 0 0;
  }
  .page-acticle-line .list-category-news {
    margin: 0 auto 0 0;
  }
}
@media only screen and (max-width: 576px) {
  header {
    padding: 35px 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  header.fixed {
    padding: 22px 0;
  }
  .breadcrumb {
    font-weight: 400;
  }
  .breadcrumb li:first-child a {
    color: #767676;
    font-weight: 300;
  }
  .breadcrumb li a {
    color: #161616;
  }
  .logo {
    max-width: 120px;
  }
  .dropdown-catalog {
    display: none;
  }
  .btn {
    height: 44px;
    padding: 10px 16px;
    font-size: 16px;
  }
  .title-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 24px;
  }
  .title-wrapper h2 {
    margin: 0;
  }
  .title-wrapper .link {
    display: none;
  }
  .home .container {
    padding: 0 8px;
  }
  .home .btn {
    height: 38px;
    font-size: 16px;
  }
  .home-slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 12px 135px;
    font-size: 14px;
  }
  .home-slider__item .description {
    max-width: none;
  }
  .home-slider .box-text {
    max-width: none;
    width: 100%;
  }
  .home-slider .box-text .btn {
    margin: 24px 0 0;
  }
  .home-slider .box-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto 24px;
    max-width: 335px;
    position: relative;
    right: 0;
    top: 0;
  }
  .h1 {
    margin: 8px 0;
    font-size: 26px;
  }
  .home-slider-nav__wrapper {
    padding: 0 12px;
    bottom: 18px;
  }
  .home-slider-nav__item {
    font-size: 14px;
    width: 335px;
    padding: 24px;
  }
  .slider-progress {
    left: 12px;
    width: 335px;
  }
  h2 {
    font-size: 20px;
    padding: 0;
  }
  h3 {
    font-size: 16px;
  }
  .your-choice .col-30 {
    width: 100%;
  }
  .your-choice .col-30:nth-child(2) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .your-choice .col-30:nth-child(2) .chapter-card__img {
    max-width: 258px;
  }
  .chapter-card {
    min-height: 200px;
  }
  .chapter-card__img {
    max-width: 170px;
  }
  .advantages {
    background: radial-gradient(75.51% 27.58% at 80.27% 54.82%, rgba(124, 13, 198, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .advantages-box {
    padding: 24px 12px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 14px;
    margin: 0 0 24px;
  }
  .advantages-box__text {
    width: calc(100% - 32px);
    padding: 0 0 0 16px;
  }
  .advantages-box__icon {
    width: 32px;
    height: 32px;
  }
  .advantages-box h3 {
    font-size: 18px;
  }
  .advantages-list {
    width: calc(100% + 15px);
    margin: 0 -7.5px;
  }
  .hot-prices .col-25 {
    display: none;
  }
  .hot-prices .col-25:nth-child(-n+3) {
    display: none;
  }
  .hot-prices .col-25:nth-child(-n+2) {
    display: block;
  }
  .row-scroll {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: auto;
  }
  .news-card {
    font-size: 14px;
  }
  .news-card__title {
    font-size: 18px;
  }
  .news-card__img {
    height: 200px;
  }
  .m-100 {
    margin: 80px 0;
  }
  .seo-section .box-text {
    font-size: 14px;
  }
  .reviews-services h3 {
    width: 100%;
    margin: 0 0 16px;
  }
  footer {
    padding: 40px 0;
    margin: 88px 0 0;
  }
  .footer-box {
    width: 100%;
    margin: 0 0 32px;
  }
  .footer-box:last-child {
    width: 100%;
    margin: 0;
  }
  .footer-box:last-child .footer-box__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-box:nth-child(2) {
    margin: 0 0 24px;
  }
  .footer-box__menu {
    display: none;
    margin: 16px 0 0;
  }
  .footer-box__title {
    display: none;
  }
  .footer-box__title-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .footer-box__title-toggle:after {
    content: "";
    background: url("../img/arrow-select.svg") no-repeat center;
    background-size: 100%;
    margin: 0 0 0 22px;
    width: 24px;
    height: 24px;
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  .footer-box__title-toggle {
    color: #fff;
  }
  .page {
    padding: 110px 0 0;
  }
  .sorting-wrapper {
    display: none;
  }
  h1 {
    font-size: 20px;
  }
  .col-30 {
    width: 50%;
  }
  .banner-img {
    max-width: 183px;
    right: -25px;
  }
  .banner .box-text {
    max-width: 170px;
  }
  .banner .btn {
    margin: 40px 0 0;
    height: 52px;
    padding: 10px 24px;
  }
  .banner h3 {
    font-size: 20px;
  }
  .form .col-50 {
    width: 100%;
  }
  .modal__div {
    max-width: 335px;
  }
  .modal__div h3 {
    font-size: 20px;
  }
  #thanksModal .modal__wrapper, #errorModal .modal__wrapper {
    padding: 50px 17px 40px;
  }
  .page-product .nav-breadcrumb .link-share {
    display: none;
  }
  .product-info-box:first-child .product-info-box__footer {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin: 0 0 19px;
  }
  .product-info-box:first-child .product-info-box__footer .list-characteristics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 0 0;
  }
  .product-info-box:first-child .product-info-box__footer .list-characteristics span {
    margin: 0 0 0 8px;
  }
  .product-info-box:first-child__head {
    margin: 0;
  }
  .product-info-box .btn-group {
    width: 100%;
  }
  .product-info-box .btn-group .btn {
    height: 44px;
    font-size: 16px;
  }
  .product-image {
    height: 401px;
  }
  .delivery-instant, .list-payment, .payments-method {
    display: none;
  }
  .difference {
    width: 100%;
    margin: 16px 0 0;
  }
  .checkout-box h3 {
    display: none;
  }
  .checkout-box .list-characteristics {
    width: 100%;
  }
  .checkout-box .list-characteristics li:first-child {
    display: none;
  }
  .checkout-box label {
    width: 100%;
  }
  .checkout-box .btn {
    height: 48px;
    font-size: 16px;
  }
  .promo-link {
    margin: 0 auto;
  }
  .list-characteristics li {
    margin: 0 0 8px;
  }
  .list-characteristics li:last-child {
    margin: 0;
  }
  .information-box {
    margin: 25px 0 50px;
    padding: 24px 16px;
  }
  .information-box .box-text {
    margin: 0 0 16px;
  }
  .attention-box {
    margin: 40px 0 60px;
  }
  .attention-box__icon {
    display: none;
  }
  .attention-box__text {
    width: 100%;
    padding: 0;
  }
  .panel_heading h3 {
    font-size: 18px;
  }
  .block_title {
    padding: 24px 13px;
  }
  .block_hover {
    padding: 0 13px 24px;
  }
  .articles-product .col-30 {
    width: 320px;
    min-width: 320px;
  }
  .recommended .col-30 {
    display: none;
  }
  .recommended .col-30:nth-child(-n+2) {
    display: block;
  }
  .form .btn {
    width: 100%;
  }
  .seo-section h2 {
    max-width: 480px;
  }
  .page-error .box-text {
    margin: 48px auto 24px;
  }
  .page-error-wrapper__image {
    max-width: 335px;
  }
  .table {
    margin: 40px 0;
  }
  .table th, .table td {
    padding: 12px;
  }
  .table th:first-child, .table td:first-child {
    width: 50%;
  }
  .tabs__caption {
    font-size: 14px;
  }
  .tabs__caption li {
    padding: 11px 15px;
  }
  .tabs__content {
    margin: 10px 0 0;
  }
  .about-products .col-30 {
    width: 100%;
  }
  .news-box-max .news-box__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-box-max .list-category-news {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 24px 0 0;
  }
  .news-box__title {
    width: 100%;
  }
  .news-row .mb-40 {
    margin-bottom: 32px;
  }
  .news-row .col-30, .news-row .col-25 {
    width: 100%;
  }
  .product-card__img {
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .product-card__img {
    padding: 40px 0;
    border: none;
    background: #F8F8F8;
  }
  .product-card .promo-label-list {
    padding: 8px 1px;
  }
  .product-card__footer .btn {
    display: none;
  }
  .product-card .link-add-card {
    margin: 0;
  }
  .promo-label {
    font-size: 10px;
  }
  .price {
    font-size: 18px;
  }
  .table {
    font-size: 12px;
    line-height: normal;
  }
}
@media only screen and (max-width: 370px) {
  .home-slider-nav__item {
    width: 100%;
  }
  .slider-progress {
    width: calc(100% - 24px);
  }
  .page-acticle .box-text .product-line__name {
    font-size: 18px;
  }
  table th, table td {
    padding: 10px;
  }
  .table {
    font-size: 10px;
  }
}