// @import "fonts"
@import "vars"

header
	padding: 30px 0
	margin: 0 0 30px
	position: fixed
	left: 0
	top: 0
	z-index: 10
	width: 100%
	background: #fff
	transition: .3s ease
	font-size: 14px
	// border-bottom: 1px solid #F8F3FC
	.container
		align-items: center
	.logo
		margin: 0 32px 0 0
	&.fixed
		position: fixed
		padding: 17.5px 0
	&.active-search
		.nav-menu
			display: none	

.dropdown-catalog
	position: relative
	z-index: 2		

.nav-menu
	margin: 0 auto 0 0
	display: flex
	align-items: center
	flex-wrap: wrap

.menu
	display: flex
	align-items: center
	flex-wrap: wrap
	font-size: 14px
	li
		margin: 0 0 0 16px
		a
			color: #363636
			&:hover
				color: #5D0896
		&:last-child
			margin: 0 0 0 16px
	.dropdown
		position: relative
		&.open
			.dropdown-toggle
				color: #161616
				.dropdown-toggle__icon
					stroke: #161616
					transform: none
	.dropdown-toggle
		padding: 0
		&:hover
			background: transparent
		&__icon
			width: 24px
			height: 24px
			margin: 0
			stroke: #161616
	.dropdown-menu
		min-width: 270px
		padding: 8px 0
		position: absolute
		left: -24px
		top: 100%
		z-index: 1
		background: #fff
		border-radius: 10px
		.dropdown-item
			padding: 8px 24px

.dropdown-my
	position: relative			

.dropdown-my-toggle
	display: flex
	align-items: center			

.link-tg
	margin: 0 16px
	width: 44px
	height: 44px
	min-width: 44px
	fill: none
	stroke: $accent
	padding: 5px

.phone
	color: #363636
	&:hover
		color: $accent

.btn-catalog
	padding: 10px 19px
	&__icon
		width: 24px
		height: 24px
		stroke: #fff
		&-close
			display: none
	&__text
		margin: 0 0 0 4px		

.overlay-bg
	position: fixed
	left: 0
	top: 0
	z-index: 8
	width: 100%
	height: 100%
	background: #030418
	mix-blend-mode: multiply
	opacity: 0.5
	display: none

.btn-burger
	width: 24px
	height: 24px
	display: none
	align-items: center
	justify-content: center
	stroke: #161616
	margin: 0 0 0 10px

.mobile-menu
	position: fixed
	z-index: 11
	background: #fff
	left: -100%
	top: 0
	width: 100%
	max-width: 375px
	height: 100%
	display: block
	transition: .5s ease
	&__close
		@include d-flex
		width: 24px
		height: 24px
		cursor: pointer
		stroke: #161616
	&__head
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between
		padding: 22px 20px
		border-bottom: 1px solid #F8F3FC
	.form-search
		margin: 0
		padding: 12px 16px
		border: none
		border-radius: 0
		border-bottom: 1px solid #F8F3FC
		display: flex
		align-items: center
		input
			border: none
			border-radius: 0
			height: 44px
			padding: 0
			font-size: 14px
		button
			position: relative
			top: 0
			right: 0
			left: 0
			transform: none
			margin: 0 8px 0 0
			min-width: 24px

	&__body
		padding: 0 0 30px
		height: calc(100% - 68px)
		overflow-y: auto
		position: relative
		width: 100%
		display: flex
		flex-direction: column
	&__footer
		width: 100%
		margin: auto 0 0
		padding: 0 20px 
		display: flex 
		align-items: start
		.btn:last-child
			width: 100%
	.logo
		max-width: 120px

.link-phone, .link-tg
	width: 44px
	height: 44px
	min-width: 44px
	padding: 10px
	fill: none
	stroke: $accent


.mobile-menu-list
	font-size: 16px
	margin: 0 0 20px
	li
		margin: 0
		a
			color: #363636
			display: flex
			align-items: center
			padding: 14px 20px
			&:hover
				color: $accent
	.svg-icon
		margin: 0 8px 0 0
		width: 24px
		min-width: 24px
		height: 24px
		stroke: #363636
		fill: none
		&__arrow
			fill: none
			margin: 0 0 0 auto
	.stroke-none
		stroke: none	
		fill: #363636	
	.sidebar-menu
		.svg-icon
			margin: 0 0 0 8px



.link-phone
	color: #161616
	&:hover
		color: $accent

.search-wrapper
	position: relative
	margin: 0 24px 0 0
	transition: .3s ease
	border-left: 1px solid #F9F2FF
	border-right: 1px solid #F9F2FF
	max-width: 649px
	overflow: hidden
	transition: .5s
	.form-search
		position: absolute
		top: 0
		left: 0
		width: 100%
		display: flex
		align-items: center
		transition: .5s
		transform: translateX(200%)
		background: #fff
		z-index: 2
		margin: 0
		label
			transition: .5s 
		input
			border: none
			padding: 0
			height: 44px
			width: 100%
			font-size: 14px
			
			&::placeholder
				color: #363636
		button
			position: relative
			padding: 0 8px 0 16px
			fill: none
			stroke: $accent
			width: 56px
			height: 44px
			top: 0
			right: 0
			transform: none
			@include d-flex	
			
	&.active
		width: 100%
		margin: 0 24px 0 auto	
		border: none
		
		.form-search
			border-left: 1px solid #F9F2FF
			border-right: 1px solid #F9F2FF
			transform: translateX(0)
	&.click
		overflow: visible
		.form-search
			border-color: $accent		

	
.search-result
	position: absolute
	z-index: 2
	width: 100%
	top: 100%
	background: #fff
	border-radius: 0px 0px 6px 6px
	border-left: 1px solid $accent
	border-right: 1px solid $accent
	border-bottom: 1px solid $accent
	display: none
	font-size: 16px
	&__box
		width: 100%
	&__list
		width: 100%
		li
			width: 100%
			margin: 0
			a
				padding: 8px 24px
				color: #363636	
				width: 100%
				&:hover
					color: $accent
	&__category
		padding: 8px 24px
		color: #767676			
		

.btn-search
	fill: none
	stroke: #363636
	padding: 0 16px
	width: 56px
	height: 44px
	margin: 0 0 0 auto
	cursor: pointer
	background: #fff

