// @import "fonts"
@import "vars"

header
	padding: 30px 0
	margin: 0 0 30px
	position: absolute
	left: 0
	top: 0
	z-index: 10
	width: 100%
	background: #fff
	.container
		align-items: center
	.logo
		margin: 0 60px 0 0

.nav-menu
	margin: 0 auto 0 0
	display: flex
	align-items: center
	flex-wrap: wrap
	.btn-mail, .link-tg, .phone
		display: none

.menu
	display: flex
	align-items: center
	flex-wrap: wrap
	li
		margin: 0 0 0 40px
		a
			color: #363636	
			&:hover
				color: #5D0896

.link-tg
	margin: 0 32px

.phone
	color: #363636
	&:hover
		color: $accent	

.btn-catalog
	&__icon
		width: 24px
		height: 24px		
		stroke: #fff
		margin: 0 4px 0 0
		&-close
			display: none

.btn-burger
	width: 24px
	height: 24px
	display: none
	align-items: center
	justify-content: center
	stroke: #161616		
