@import "vars"

//home
.home
	padding: 144px 0 0
	.h1
		margin: 8px 0

.home-slider
	.slick-slide
		height: auto
	.slick-track
		display: flex
		align-items: stretch
	&__item
		padding: 100px 0 190px
		height: 100%
		.box-text
			max-width: 533px
			position: relative
			z-index: 1
			.btn
				margin: 40px 0 0
		.description
			max-width: 430px
	.box-image
		position: absolute
		right: 0
		top: 0
		max-width: 752px
		width: 100%
		mix-blend-mode: darken
		@include d-flex

.home-wrapper
	position: relative
	width: 100%

.home-slider-nav
	width: 100%
	h3
		margin: 0 0 2px
	&__item
		width: 360px
		border-radius: 12px
		padding: 24px 13px 24px 24px
		position: relative
		cursor: pointer
		transition: .5s ease
		border: 1.3px solid #F8F3FC
		margin: 0 8px 0 0
		background: #fff
		&:last-child
			margin: 0
	.slick-current
		.home-slider-nav__item
			border: 1.3px solid #F8F3FC
			&::before
				width: 237px
	&__wrapper
		position: absolute
		left: 0
		bottom: 10px
		width: 100%

.slider-progress
	border-radius: 0px 8px 0px 8px
	position: absolute
	left: 0
	bottom: 0
	transition: .5s ease
	height: 6px
	width: 360px
	span
		border-radius: 0px 0 8px 8px
		background: $accent
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 0
		transition: all 0s linear
		&.active
			width: 100%

.tabs__caption
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	li
		color: #7C0DC6
		cursor: pointer

.tabs__caption-home
	display: flex
	align-items: stretch
	flex-wrap: wrap

	li
		border-radius: 12px
		padding: 24px 60px 24px 24px
		position: relative
		cursor: pointer
		transition: .5s ease
		margin: 0 8px 0 0
		border: 1.3px solid transparent
		&:last-child
			margin: 0

		&.active
			border: 1.3px solid #F8F3FC
			&::before
				width: 237px
	h3
		margin: 0 0 2px

//your-choice
.your-choice
	.chapter-card
		border: 1px solid #F8F3FC
		background: transparent

.chapter-card
	width: 100%
	height: 100%
	position: relative
	// overflow: hidden
	background: #F8F8F8
	border-radius: 8px
	padding: 45px 70px 49px 28px
	display: flex
	flex-direction: column
	z-index: 1
	border: 1.3px solid transparent
	&::before
		content: ''
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)
		width: calc(100% + 1.3px + 1.3px)
		height: calc(100% + 1.3px + 1.3px)
		background: linear-gradient(#fff, #fff) padding-box, linear-gradient(277.29deg, rgba(124, 13, 198, 0) 0%, #7C0DC6 51.91%, rgba(124, 13, 198, 0) 100%) border-box
		z-index: -1
		border-radius: 6px
		border: 1.3px solid transparent
		opacity: 0
		transition: .3s ease

	.link
		margin: auto 0 0
	&__img
		position: absolute
		right: 0
		bottom: 0
		z-index: -1
		transition: .5s ease
		@include d-flex
	&__title
		font-size: 20px
		font-weight: 500
		line-height: 140%
		color: #161616
		margin: 0 0 106px
	&:hover
		background: #fff
		&::before
			opacity: 1
		.chapter-card__title
			color: $accent
		.link
			color: $hover
		.link-icon
			stroke: $hover

.link
	text-align: right
	display: flex
	align-items: center
	color: #363636
	&-icon
		@include d-flex
		width: 16px
		height: 16px
		margin: 0 0 0 4px
		stroke: #363636

// advantages
.advantages
	margin: 40px 0 0
	padding: 88px 0 89px
	backdrop-filter: blur(10px)
	background: radial-gradient(31.3% 49.2% at 61.09% 50.05%, rgba(124, 13, 198, 0.28) 0%, rgba(255, 255, 255, 0) 100%)
	h2
		top: 120px
		position: sticky
		max-width: 460px

.advantages-list
	margin: 0 0 0 auto
	max-width: 769px
	width: calc(100% - 500px)

.advantages-box
	width: 100%
	background: #fff
	margin: 0 0 35px
	padding: 40px
	border-radius: 12px
	display: flex
	align-items: flex-start
	&__icon
		width: 40px
		height: 40px
		@include d-flex
		border-radius: 8px
		background: #F8F3FC
		padding: 5px
	&__text
		width: calc(100% - 40px)
		padding: 0 0 0 32px
	h3
		margin: 0 0 6px
	&:last-child
		margin: 0

//hot deals
.product-card
	width: 100%
	height: 100%
	position: relative
	line-height: 150%
	display: flex
	flex-direction: column
	&__img
		padding: 28px
		@include d-flex
		height: 300px
		width: 100%
		border: 1px solid #F8F3FC
		border-radius: 8px
		padding: 10px
		img
			max-height: 100%
	&__body
		padding: 16px 0 0
		width: 100%
		height: calc(100% - 300px)
		display: flex
		flex-direction: column
	&__head
		width: 100%
		display: flex
		align-items: flex-start
		justify-content: space-between
		margin: 0 0 16px
	&__title
		padding: 0 16px 0 0
		color: #161616
		&:hover
			color: $accent
	&__footer
		display: flex
		flex-wrap: wrap
		align-items: center
		line-height: 100%
		margin: auto 0 0
	.btn
		padding: 14px 24px
		width: 100%
	.link-add-card
		margin: 0 0 0 24px
	.promo-label-list
		position: absolute
		padding: 8px
		top: 0
		left: 0

.price-wrapper
	white-space: nowrap

.price
	font-size: 20px
	font-weight: 500
	color: #161616

.promo-label
	display: flex
	align-items: center
	border-radius: 4px
	padding: 6px 10px 7.5px
	line-height: normal
	font-size: 12px
	font-weight: 500
	img
		margin: 0 4px 0 0
		width: 15px

.promo-label-hit
	background: #F8F3FC
	color: $accent

.promo-label-list
	width: 100%
	display: flex
	align-items: stretch
	flex-wrap: wrap
	justify-content: flex-end

	li
		margin: 0 8px 5px 0
		&:last-child
			margin: 0 0 5px

//news section
.news-card
	width: 100%
	line-height: 150%
	&__img
		@include d-flex
		width: 100%
		height: 240px
		border-radius: 8px
		img
			width: 100%
			height: 100%
			object-fit: cover
			border-radius: 8px
	&__body
		width: 100%
		padding: 16px 0 0
	&__title
		color: #161616
		font-size: 20px
		font-weight: 500
		margin: 16px 0 8px
	&:hover
		.news-card__title
			color: $accent

.date
	color: #767676
	width: 100%

// seo-section
.seo-section
	h2
		margin: 0 0 32px

// catalog page
.page
	padding: 144px 0 0

.page-catalog-wrapper
	width: 100%
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	h1
		display: flex
		align-items: center

.page-catalog-content
	width: calc(100% - 310px)
	padding: 0 0 0 35px

.sidebar
	border: 1.3px solid #F8F8F8
	border-radius: 8px
	max-width: 310px
	width: 100%
	padding: 24px 0
	line-height: 150%
	&__head
		padding: 0 24px
		margin: 0 0 16px

.sidebar-menu
	li
		margin: 0 0 16px
		&:last-child
			margin: 0
		a
			color: #363636
			&:hover
				color: $accent
				.dropdown-toggle__icon
					stroke: $accent

.dropdown-toggle
	display: flex
	align-items: center
	padding: 8px 24px
	width: 100%
	&__icon
		stroke: #363636
		fill: none
		width: 16px
		height: 16px
		margin: 0 0 0 8px
	&:hover
		background: #F8F3FC
		color: $accent

.dropdown.open
	.dropdown-toggle
		color: $accent
		.dropdown-toggle__icon
			stroke: $accent
			transform: rotate(180deg)

.dropdown-menu
	margin: 8px 0 0
	display: none
	.dropdown-item
		padding: 8px 10px 8px 32px
		width: 100%
		&:hover, &.active
			background: #F8F3FC

.dropdown-catalog
	.btn-catalog
		&.open
			.btn-catalog__icon
				display: none
				&-close
					display: flex

	.dropdown-menu
		margin: 5px 0 0
		overflow: hidden
	.sidebar-menu li
		margin: 0 0 8px
		&:last-child
			margin: 0
		.dropdown-item
			padding-left: 32px
		.dropdown-menu
			margin: 0

.dropdown-menu-catalog
	position: absolute
	border: 1px solid #F8F3FC
	border-radius: 10px
	background: #FFFFFF
	z-index: 10
	min-width: 270px
	padding: 20px 0

.btn-toggle-sidebar
	margin: 0 0 0 8px
	display: none
	align-items: center
	justify-content: center
	width: 24px
	height: 24px
	fill: none
	stroke: #161616

// information page
.page-information
	h1
		margin: 0 0 24px
	.box-text
		a
			display: initial
			text-decoration: underline
			color: #7C0DC6

.banner
	max-width: 310px
	width: 100%
	position: relative
	color: #363636
	padding: 40px 24px 36px
	display: flex
	flex-direction: column
	line-height: 150%
	border-radius: 8px
	position: relative
	z-index: 1
	margin: 0 0 0 auto
	border: 1px solid #F8F3FC
	border-radius: 8px
	overflow: hidden
	h3
		color: #161616
		margin: 0 0 8px
	&-img
		@include d-flex
		position: absolute
		right: 0
		bottom: 0
		max-width: 152px
		z-index: -1
	.box-text
		max-width: 240px

	.btn
		margin: 140px 0 0

.d-tablet
	display: none

.form
	margin: 40px 0 0
	width: 100%
	.row
		margin: 0 -12px
	.col-50, .col-100
		padding: 0 12px
	.box-text
		margin: 8px 0 24px
		font-size: 14px

.input-text
	position: absolute
	left: 0
	top: 14px
	transition: .3s ease
	line-height: 150%
	width: 100%
	padding: 0 16px
	display: inline-block
	color: #828282
	pointer-events: none
	z-index: 1

// product page
.product-image
	@include d-flex
	height: 530px
	max-width: 425px
	width: 100%
	position: sticky
	top: 120px
	border: 1px solid #F8F3FC
	border-radius: 8px
	padding: 20px
	img
		max-height: 100%
		width: 100%
		object-fit: contain
	.promo-label-list
		display: none

.product-image .promo-label img
	width: 15px		

.checkout-box
	border-left: 1px solid #EBEBEB
	padding: 0 0 115px 32px
	position: sticky
	top: 120px
	.list-characteristics
		margin: 24px 0

.list-characteristics
	width: 100%
	line-height: 17px
	font-size: 14px
	li
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between
		margin: 0 0 16px
		&:last-child
			margin: 0
	span
		text-align: right
	p
		font-weight: 300

.status-availability, .promo-link, .delivery-instant, .difference
	display: flex
	align-items: center
	img
		margin: 0 6px 0 0
		width: 24px

.delivery-instant
	justify-content: center

.promo-wrapper
	width: 100%
	margin: 16px 0 28px
	&__label
		margin: 10px 0 0
		display: none

.promo-link
	display: flex
	align-items: center
	line-height: 100%
	color: $accent
	&:hover
		color: $hover
	span
		border-bottom: 1.3px dashed #7C0DC6

.buy-wrapper
	width: 100%
	display: flex
	align-items: center
	flex-wrap: wrap
	.btn
		width: calc(50% - 4px)

.amount
	margin: 0 auto 0 0
	display: flex
	align-items: center
	justify-content: center
	border: 1px solid #7C0DC6
	border-radius: 6px
	height: 44px
	width: calc(50% - 4px)
	padding: 0 20px
	span
		cursor: pointer
		transition: .3s ease
		@include d-flex
		width: 24px
		height: 24px
		min-width: 24px
		// pointer-events: none
		z-index: 1
	input
		border: none
		border-radius: 0
		padding: 0
		text-align: center
		background: transparent
		color: #7C0DC6
		font-size: 20px
		font-weight: 600
		height: 100%
		box-shadow: none
		z-index: 0

.payments-method
	margin: 24px 0 14px
	@include d-flex

.list-payment
	margin: 24px 0 14px
	display: flex
	align-items: flex-start
	justify-content: center
	flex-wrap: wrap
	li
		margin: 0 6px 10px 0
		width: 24px
		height: 24px
		min-width: 24px
		@include d-flex
		&:last-child
			margin: 0 0 10px

.product-info-box
	width: 100%
	margin: 0 0 24px
	padding: 0 0 24px
	border-bottom: 1px solid #EBEBEB
	display: flex
	align-items: center
	flex-wrap: wrap
	&:last-child
		border: none
		margin: 0
		padding: 0
	&__head
		width: 100%
		display: flex
		align-items: center
		flex-wrap: wrap
		margin: 0 0 24px
	.promo-label-list
		width: fit-content
	&__footer
		margin: 24px 0 0
		width: 100%
		display: none
		.list-payment
			margin: 0
			li
				margin-bottom: 0
	&:first-child
		.product-info-box__footer
			.list-characteristics
				display: none
	.list-characteristics
		li
			position: relative
			background: #fff
			z-index: 1
			p, span, a
				position: relative
				z-index: 1
				background: #fff
			p
				padding: 0 5px 0 0
			span, a
				padding: 0 0 0 5px
			&::before
				content: ''
				position: absolute
				width: 100%
				height: 1px
				border-bottom: 1px dashed #DADADA
				bottom: 2px
				left: 0

.rating
	display: flex
	align-items: center
	flex-wrap: wrap
	margin: 0 24px 0 0

.list-rating
	display: flex
	align-items: center
	li
		width: 20px
		height: 20px
		min-width: 20px
		margin: 0 4px 0 0
		fill: #F2994A
		@include d-flex
		&:last-child
			margin: 0
		&.star0
			fill: #FCEFCA

.rating-value
	color: $accent
	line-height: 100%
	padding: 0 0 4px
	border-bottom: 1.3px dashed #7C0DC6
	margin: 0 0 0 8px

.link-share
	@include d-flex
	margin: 0 0 0 auto
	stroke: #5B5B5B
	fill: none
	width: 24px
	height: 24px
	min-width: 24px

.difference
	margin: 0 0 0 24px
	color: $accent
	span
		border-bottom: 1.3px solid #7C0DC6

.logo-partner
	margin: 0 0 8px

.information-box
	width: 100%
	margin: 64px 0 56px
	border-radius: 8px
	display: flex
	align-items: center
	flex-wrap: wrap
	padding: 32px
	line-height: 150%
	.box-text
		width: calc(100% - 235px)
		padding: 0 24px 0 0
		margin: 0 auto 0 0

.tabs__caption-product
	width: 100%
	margin: 0 0 24px
	position: relative
	line-height: 140%
	font-size: 20px

	li
		border: none
		padding: 10px 24px
		cursor: pointer
		transition: .3s ease
		border-radius: 6px
		&.active
			background: #F8F3FC
			color: $accent

.table, table
	width: 100%
	text-align: left
	border: 1.3px solid #F8F8F8
	border-radius: 10px
	margin: 24px 0
	overflow: hidden
	thead
		background: #F8F8F8

	th
		padding: 12px 24px
		&:first-child
			width: 45% 

	td
		padding: 12px 24px
		&:first-child
			width: 45%
	tr
		background: #fff
		.bg-grey
			background: #F8F8F8

.table-products-title
	border: none
	thead
		th
			width: 50%
			font-size: 20px
			font-weight: 500
			padding: 0 24px 16px
			background: #fff

.table-products
	position: relative
	&::before
		content: ''
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 140px
	&.hide
		&::before
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 82.12%)
	thead
		th
			padding: 12px 24px 8px
			font-size: 16px
			font-weight: normal
	td
		width: 50%
		padding: 12px 24px 12px
	tbody
		tr
			background: #fff
		.bg-grey
			background: #F8F8F8
		.tr-answer
			td
				padding: 0 24px 12px

	td.table-products__subtitle
		font-size: 14px
		color: #767676
		padding: 12px 24px 4px

.load-more-wrap
	font-size: 16px
	margin: -48px auto 0
	position: relative
	z-index: 1

.attention-box
	margin: 64px 0 0
	border: 1.3px solid #EB5757
	border-radius: 8px
	align-items: flex-start
	h3
		color: #EB5757
		margin: 0 0 16px
	.box-text
		padding: 0
		width: 100%
	&__icon
		@include d-flex
		width: 80px
		height: 80px
		min-width: 80px
		border-radius: 8px
		background: #EB5757
		padding: 8px
	&__text
		width: calc(100% - 80px)
		padding: 0 0 0 28px

.panel_heading
	width: 100%
	margin: 0 0 16px
	background: #F8F8F8
	border-radius: 8px

	&-icon
		@include d-flex
		width: 24px
		height: 24px
		min-width: 24px
		stroke: #5B5B5B
		fill: none
	&.in
		.panel_heading-icon
			transform: rotate(180deg)
	&:last-child
		margin: 0

.block_title
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between
	margin: 0
	cursor: pointer
	padding: 32px
	h3
		margin: 0

.block_hover
	display: none
	// margin: 16px 0 0
	color: #363636
	line-height: 150%
	padding: 0 32px 32px
	.box-text
		max-width: 878px

.faq
	.block_hover
		margin: -16px 0 0

.article-card
	width: 100%
	height: 100%
	line-height: 140%
	&__img
		width: 100%
		@include d-flex
		border-radius: 4px
		height: 200px
		img
			width: 100%
			height: 100%
			object-fit: cover
			border-radius: 4px
	&__body
		width: 100%
		padding: 20px 0 0
	&__title
		color: #161616
		&:hover
			color: $accent

.recommended
	margin: 40px 0

.reviews
	h2
		margin: 0 0 24px

.reviews-services
	width: 100%
	display: flex
	align-items: center
	flex-wrap: wrap
	margin: 0 0 32px
	h3
		width: fit-content
		margin: 0 32px 0 0
	&-link
		display: flex
		align-items: center
		color: #363636
		&:hover
			color: $accent

.reviews-services-list
	display: flex
	align-items: center
	flex-wrap: wrap
	li
		display: flex
		align-items: center
		padding: 0 8px 0 0
		margin: 0 8px 0 0
		border-right: 1px solid #EBEBEB
		&:last-child
			padding: 0
			margin: 0
			border: none
	&__icon
		@include d-flex
		width: 20px
		height: 20px
		margin: 0 8px 0 0

.page-product
	.nav-breadcrumb
		.link-share
			display: none
	.box-text
		h3
			margin: 20px 0
		ul, ol
			margin: 0 0 15px
		a
			display: initial
			text-decoration: underline
			color: #7C0DC6

.page-politics
	h1
		margin: 0 0 16px

.page-error

	.box-text
		max-width: 315px
		margin: 40px auto

.page-error-wrapper
	width: 100%
	text-align: center
	display: flex
	flex-direction: column
	align-items: center
	&__img
		margin: 0 auto
		@include d-flex

.table-sales
	tr
		&:nth-child(even)
			background: #F8F8F8

.contats-wrapper
	margin: 48px 0 40px
	width: 100%
	padding: 48px 24px
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	background: #F8F8F8
	border-radius: 8px
	&__content
		width: calc(100% - 437px)
		.box-text
			margin: 8px 0 48px
			font-size: 14px
			max-width: 380px

.requisites
	border-radius: 6px
	background: #fff
	max-width: 437px
	width: 100%
	padding: 16px 24px
	line-height: 150%

.contacts-box
	font-size: 14px
	margin: 0 0 24px
	a
		color: #000
		font-weight: 600
		margin: 4px 0 0
		&:hover
			color: $accent

// about-products
.about-products
	margin: 48px 0 65px
	.box-text
		margin: 8px 0 32px
		max-width: 650px
	.chapter-card
		&__img
			max-width: 170px
	.link
		display: none
	&__title
		margin: 0 0 78px

.individual-approach
	h2
		margin: 0 0 24px

.difference-about
	margin: 46px 0 0
	width: 100%
	h3
		margin: 0 0 24px

	.tabs__caption
		width: 100%

		li
			margin: 0 16px 16px 0
			border: 1.3px solid #7C0DC6
			border-radius: 6px
			padding: 11px 24px
			color: #7C0DC6
			&.active
				color: #7C0DC6
				background: #F8F3FC
				border-color: transparent
			&:last-child
				margin: 0 0 16px

	.tabs__content
		margin: 8px 0 0

// news page
.page-news
	h1
		margin: 0 0 16px
	.box-text
		max-width: 475px
	.title-wrapper
		margin: 0 0 8px

.list-filter
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	margin: 0 -145px 0 auto
	li
		margin: 0 16px 0 0
		&:last-child
			margin: 0
	&-link
		padding: 14px 24px
		border-radius: 6px
		color: $accent
		&.active
			background: $accent
			color: #fff

.news-row
	align-items: stretch

.news-box
	width: 100%
	height: 100%
	border-radius: 8px
	&__image
		position: relative
		z-index: 1
		width: 100%
		height: 340px
		@include d-flex
		img
			width: 100%
			height: 100%
			object-fit: cover
			border-radius: 8px
		&-footer
			width: 100%
			padding: 16px
			position: absolute
			left: 0
			bottom: 0
	&__body
		padding: 24px 0 0 0
		display: flex
		align-items: flex-start
		flex-wrap: wrap
	&__info
		display: flex
		align-items: center
		flex-wrap: wrap
		background: #fff
		border-radius: 6px
		padding: 8px 14px
		color: #161616
		font-size: 12px
		font-weight: 300
		width: fit-content
		span
			display: flex
			align-items: center
			&:after
				content: ''
				display: inline-block
				margin: 0 8px
				background: #767676
				width: 4px
				height: 4px
				border-radius: 50%
			&:last-child
				&:after
					display: none
	&__title
		font-size: 20px
		font-weight: 500
		color: #161616
		&:hover
			color: $accent
	&__view
		margin: 24px 0 0
		color: #161616
		font-size: 12px
		font-weight: 300
	&__footer
		margin: auto 0 0
	&__report
		width: 100%
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: space-between
		font-size: 12px
		font-weight: 300

.news-box-max
	.list-category-news
		margin: 0 0 0 auto
		width: fit-content
	.news-box__body
		flex-wrap: nowrap
	.list-category-news
		flex-wrap: nowrap
		white-space: nowrap

.news-box-min
	padding: 24px 16px
	border-radius: 10px
	border: 1px solid #F8F3FC
	display: flex
	flex-direction: column
	height: 340px
	.news-box__body
		padding: 0
	.list-category-news
		margin: 0 0 24px
		font-size: 12px

.btn-load
	margin: 0 auto

.list-category-news
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	font-size: 14px
	margin: 0 0 16px
	width: 100%
	li
		margin: 0 16px 0 0
		&:last-child
			margin: 0
		a
			text-decoration: underline
			color: $accent
			&:hover
				color: $hover

// page-acticle
.page-acticle
	overflow-x: hidden
	h2
		margin: 20px 0 10px
	h1
		width: 100%
		margin: 0 0 16px
	&-line
		width: 100%
		display: flex
		align-items: center
		flex-wrap: wrap
		border-top: 1.3px solid #F8F3FC
		border-bottom: 1.3px solid #F8F3FC
		margin: 0 0 32px
		padding: 16px 0

		&:last-child
			margin: 0
		.list-category-news
			margin: 0 16px 0 auto
		.list-category-news, .news-box__report
			width: fit-content
		.news-box__report
			justify-content: flex-start
			div
				display: flex
				align-items: center
				&:after
					content: ''
					display: inline-block
					border-radius: 50%
					margin: 0 8px
					background: #000
					width: 4px
					height: 4px
				&:last-child
					&:after
						display: none
		.link-share
			margin: 0
	.box-text
		ol, ul
			margin: 0 0 15px
			padding: 0 0 0 30px
		p
			line-height: 2
			margin: 0 0 15px
		a
			display: initial
			text-decoration: underline
			color: #7C0DC6
		h3
			margin: 10px 0 15px
		.product-line__icon, .btn
			display: flex
			align-items: center
			justify-content: center
		.product-line__icon
			img
				margin: 0
				border: none
				border-radius: 0
		.product-line__name, .btn
			text-decoration: none
		.product-line__name
			color: #363636

		img
			margin-bottom: 15px
			border: 1px solid #F6EAFF
			border-radius: 8px

.article-image
	width: 100%
	margin: 32px 0
	text-align: center
	img
		width: 100%
		border-radius: 10px
	&__name
		margin: 16px auto 0

.comparison
	margin: 32px 0
	h3
		margin: 0 0 16px

.copy-line
	width: 100%
	margin: 32px 0
	display: flex
	align-items: center
	flex-wrap: wrap
	background: #F8F8F8
	border-radius: 8px
	padding: 16px
	font-size: 12px

.link-copy
	@include d-flex
	width: 24px
	height: 24px
	min-width: 24px
	fill: none
	stroke: #000
	margin: 0 0 0 auto
	&:hover
		stroke: $accent

.product-line
	width: 100%
	display: flex
	align-items: center
	flex-wrap: wrap
	border: 1px solid #F8F3FC
	border-radius: 8px
	margin: 20px 0 0
	padding: 18px 16px
	&__icon
		@include d-flex
		width: 40px
		height: 40px
		min-width: 40px
		border: none
		border-radius: 0
		overflow: visible
		img
			border: none
			border-radius: 0
	&__name
		color: #363636
		margin: 0 auto 0 0
		width: calc(100% - 40px - 108px)
		padding: 0 16px
		font-size: 20px
		font-weight: 500
		&:hover
			color: $accent

.page-acticle-line-footer
	margin: 40px 0 100px
	.list-rating
		a
			fill: #D9D9D9

.article-evaluation, .schare-box
	display: flex
	align-items: center
	flex-wrap: wrap
	font-size: 12px
	font-weight: 500
	p
		margin: 0 24px 0 0

.schare-box
	margin: 0 auto 0 0
	&-links
		display: flex
		align-items: center
	&__link
		display: flex
		align-items: center
		color: #363636
		font-size: 12px
		font-weight: 300
		&:hover
			color: $accent
		&:after
			content: ''
			display: inline-block
			margin: 0 8px
			background: #363636
			border-radius: 50%
			width: 4px
			height: 4px
		&:last-child
			&:after
				display: none

.grecaptcha-badge
	visibility: hidden

// distributions	
.form-search
	position: relative
	button
		background: transparent
		position: absolute
		top: 50%
		transform: translate(0,-50%)
		right: 16px
		width: 24px
		height: 24px
		fill: none
		stroke: #161616
		@include d-flex
	input
		background: transparent
		border: 1px solid #F8F3FC
		border-radius: 12px
		padding: 0 40px 0 16px
		box-shadow: none
		font-size: 16px
		&::placeholder
			color: #363636
	label
		margin: 0
	.input-text
		font-size: 16px
		color: #363636

.distribution-box
	width: 100%
	height: 100%
	text-align: center
	color: #000
	font-size: 16px
	border: 1px solid #F8F3FC
	border-radius: 20px
	padding: 47px 20px
	&:hover
		color: $accent
	&__icon
		@include d-flex
		position: relative
		margin: 0 auto 20px
		background: #F8F3FC
		border-radius: 10px
		padding: 10px
		width: 56px
		min-width: 56px
		height: 56px
	&__val
		position: absolute
		color: #363636
		font-size: 10px
		padding: 5px
		@include d-flex
		border-radius: 50%
		border: 1px solid #FFF
		background: #F8F3FC
		width: 20px
		height: 20px
		top: -10px
		right: -10px
	&__title
		font-size: 20px
		font-weight: 500
		margin: 0 auto 8px

.tabs-my
	.tabs__caption
		width: 100%
		font-size: 14px
		li
			margin: 0 0 16px 0
			border: none
			border-radius: 50px
			padding: 12px 16px
			color: #363636
			&.active
				color: #7C0DC6
				background: #F8F3FC
				border-color: transparent
			&:last-child
				margin: 0 0 16px

	.tabs__content
		margin: 8px 0 0

.distribution-line
	margin: 0 0 16px
	flex-wrap: nowrap
	&:last-child
		margin: 0
	.distribution-box__icon
		margin: 0
	.product-line__name
		width: fit-content
		padding: 0 0 0 24px
		margin: 0
		&-category
			display: block
			font-size: 14px
			margin: 4px 0 0
		&-title
			font-size: 16px
			font-weight: 500
			color: #000

.distribution-line-characteristics
	display: flex
	align-items: center
	flex-wrap: wrap
	margin: 0 auto
	li
		margin: 0 16px 0 0
		&:last-child
			margin: 0

.disctribution-content
	margin: 60px 0 0
	h3
		margin: 0 0 24px
		font-size: 24px
		font-weight: bold

.distribution-page
	.product-image
		height: 375px
	.product-info-box
		&:last-child
			padding: 24px 0 0
			border-top: 1px solid #EBEBEB

.verifed-box
	display: flex
	align-items: center
	justify-content: center
	background: #E5F4EF
	padding: 8px
	color: #219653
	width: 100%
	border-radius: 6px
	&__icon
		margin: 0 8px 0 0
		@include d-flex
		width: 24px

.key-box
	margin: 0 0 24px
	.btn
		width: 100%

.checkout-box-verifed
	h4
		width: 100%
		margin: 0 0 8px
		font-size: 16px

.download-distribution
	margin: 24px 0
	&-link
		width: 100%
		display: flex
		align-items: center
		padding: 8px 0
		margin: 0 0 8px
		color: #000
		&:hover
			color: $accent

		&:last-child
			margin: 0
		&__name
			margin: 0 auto 0 12px
		&__lang
			@include d-flex
			color: $accent
			border: 1px solid $accent
			border-radius: 4px
			padding: 4px 6.5px
			width: 36px
			height: 24px

// distributions end	

// reviews	
.page-reviews
	.tabs__caption
		margin: 32px 0 16px
		li
			border-radius: 6px
			padding: 13.5px 24px
	.reviews-services-link.color-accent
		color: $accent
	.tabs__content
		>.reviews-box
			display: none
			&:nth-child(-n+5)
				display: block

.reviews-box
	width: 100%
	border-top: 1px solid #F8F3FC
	padding: 24px 0 0
	margin: 24px 0 0
	&:first-child
		margin: 0

	&__head, &__body, &__footer
		width: 100%
	&__head
		margin: 0 0 16px
	&__date
		color: #767676
		font-size: 12px
		margin: 0 0 0 16px
	&__body
		.box-text
			margin: 0 0 10px
			&:last-child
				margin: 0
		h4
			font-weight: 600
			margin: 0 0 4px
			width: 100%
			color: #363636
	&__footer
		display: flex
		align-items: flex-end
		flex-wrap: wrap
	&__navigation
		display: flex
		align-items: center
	&__user
		margin: 0 0 0 auto
		display: flex
		align-items: center
		text-align: right
		&-name
			text-align: right
			display: flex
			flex-direction: column
			align-items: flex-end
		&-avatar
			@include d-flex
			margin: 0 0 0 16px
			border-radius: 50%
			width: 48px
			height: 48px
			overflow: hidden
			background: #F8F8F8
			img
				width: 100%
				height: 100%
				object-fit: cover
			.icon-avatar
				width: 32px
				height: auto
				max-height: 100%
				object-fit: contain

.category-user
	margin: 2px 0 0
	border-bottom: 1px solid #767676
	font-size: 12px
	color: #767676
	&:hover
		color: $accent

.login-user
	font-size: 14px
	font-weight: 500
	color: #363636
	&:hover
		color: $accent

.like-box
	display: flex
	align-items: center
	margin: 0 8px 0 0
	&__icon
		@include d-flex
		width: 24px
		height: 24px
		fill: #161616
	&__value
		margin: 0 0 0 8px
	&:last-child
		margin: 0
	&:hover
		color: $accent
		.like-box__icon
			fill: $accent

.answer-link
	margin: 0 0 0 24px

.answer-box
	margin: 32px 0 0
	padding: 0 0 0 32px
	border: none
	border-left: 1px solid $accent
	&:first-child
		margin: 32px 0 0

.btn-load-reviews
	margin: 60px auto 0
// reviews end	
