/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1820px)
	.list-filter
		margin: 0 0 0 auto

@media only screen and (max-width: 1200px)
	header .logo
		margin: 0 30px 0 0

	.menu li
		margin: 0 0 0 30px

	.home-slider
		.box-image
			max-width: 600px

	.your-choice
		.title-wrapper
			.link
				display: none
		.col-30
			width: 50%
			&:nth-child(2)
				width: 100%
				order: 1

	.container
		padding: 0 15px

	.row
		margin: 0 -15px

	.col-25, .col-30, .col-45, .col-50, .col-55, .col-70, .col-75, .col-100
		padding: 0 15px

	.col-25
		width: 33.33%

	.col-75
		width: 100%

	.d-pc
		display: none

	.d-tablet
		display: flex

	.banner
		margin: 40px 0 0
		padding: 40px 24px
		max-width: none
		&-img
			max-width: 237px
		.box-text
			max-width: 392px
		.btn
			margin: 32px 0 0

	.col-45, .col-55
		width: 100%

	.product-image
		top: 0
		max-width: 690px
		height: 641px
		margin: 0 auto 24px
		position: relative
		.promo-label-list
			display: flex
			position: absolute
			right: 0
			top: 0
			padding: 10px

	.page-product
		.nav-breadcrumb
			.link-share
				display: flex

	.product-info-box
		&:first-child
			align-items: flex-start
		.link-share
			display: none
		&__head
			width: fit-content
		.rating
			margin: 0
		.promo-label-list
			display: none
		h1
			max-width: 410px
			order: -1
			margin: 0 auto 0 0
		.btn-group
			// max-width: 526px
			width: 100%
			.btn
				width: calc(33.33% - 6px)
				margin: 0 8px 8px 0
				&:last-child
					margin: 0 0 8px
		&__footer
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap

	.rating-value
		margin: 0 0 0 16px

	.checkout-box
		border: none
		padding: 0
		top: 0
		position: relative
		width: 100%
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		justify-content: space-between
		h3
			margin: 0 0 24px
			width: 100%
		.list-characteristics
			margin: 0 0 24px
			width: calc(50% - 4px)
		label
			width: calc(50% - 4px)

	.promo-wrapper
		margin: 24px 0 0

	.information-box
		margin: 40px 0

	.btn-toggle-sidebar
		display: flex

	.form-search
		margin: 20px 0 0	

	.payments-method
		margin: 0	

@media only screen and (max-width: 992px)
	.page
		padding: 122px 0 0

	header
		padding: 30px 0 24px
		.btn-mail, .link-tg, .phone
			display: none

	.nav-menu
		display: none

	.menu
		margin: 0 0 20px
		li
			width: 100%
			margin: 0 0 20px

	.btn-burger
		display: flex

	.dropdown-catalog
		margin: 0 auto 0 0

	.home
		padding: 106px 0 0

	.home-slider
		.box-image
			max-width: 572px
			top: -80px
			right: -197px
		&__item
			background: #F8F3FC
			border-radius: 20px
			padding: 80px 24px 186px
			overflow: hidden
			position: relative
			.box-text
				max-width: 377px
				.btn
					margin: 32px 0 0

	.home-slider-nav__wrapper
		bottom: 40px
		padding: 0 24px

	.slider-progress
		left: 24px
		width: 404px

	.home-slider-nav__item
		width: 404px
		padding: 24px 50px 24px 24px
		margin: 0 8px 8px 0
		&:last-child
			margin: 0

	.btn
		padding: 14px 20px
		height: 44px

	.h1
		font-size: 32px

	.progressBar
		width: calc(100% - 167px)

	.mb-40
		margin-bottom: 24px

	.product-card
		.btn
			padding: 14px 13px
			height: 42px
		.link-add-card
			margin: 0 0 0 12px
		.promo-label-list
			padding: 10px
		&__footer
			font-size: 14px

		&__head
			flex-wrap: wrap
		&__title
			padding: 0
			width: 100%
			margin: 0 0 8px
		&__img
			height: 255px
			padding: 40px 30px
		&__body
			height: calc(100% - 255px)

	.btn
		font-size: 14px

	.promo-label
		padding: 5.5px 10px
		font-size: 10px
		font-weight: 300

	.advantages-list
		width: 100%
		max-width: none

	.advantages
		padding: 40px 0
		h2
			max-width: none
			font-size: 30px

	.news
		.row-scroll
			overflow-x: auto
			flex-wrap: nowrap
		.col-30
			display: block
			width: 320px
			min-width: 320px

	.requisites
		max-width: 328px
		margin: 116px 0 0

	.contats-wrapper
		margin: 40px 0
		padding: 40px 24px 24px
		&__content
			width: calc(100% - 328px)
		.box-text
			margin: 8px 0 40px

	.checkout-box .promo-wrapper__label
		width: 100%

	.distribution-line .product-line__name-title
		font-size: 16px

	.distribution-line .product-line__name-category
		font-size: 14px

	.distribution-line-characteristics
		li
			margin: 0 10px 0 0			

@media only screen and (max-width: 768px)
	header
		position: fixed
		margin: 0

	.m-80
		margin: 60px 0

	h2
		font-size: 24px
		margin: 0 0 24px

	.your-choice
		.col-30
			&:nth-child(2)
				.chapter-card
					&__img
						max-width: 305px
						bottom: -40px
						right: 0
					&__title
						max-width: 284px

	.chapter-card
		padding: 32px 16px
		min-height: 250px
		overflow: hidden
		&__title
			margin: 0 0 60px
			max-width: 180px
			font-size: 16px
		&__img
			right: -20px
			max-width: 200px

	.advantages
		background: radial-gradient(162.96% 71.34% at 100% 100%, rgba(124, 13, 198, 0.28) 0%, rgba(255, 255, 255, 0) 100%)
		h2
			font-size: 24px

	.advantages-box
		margin: 0 0 16px
		&:last-child
			margin: 0

	.hot-prices
		.col-25
			display: none
			&:nth-child(-n+3)
				display: block

	.news-card
		&__title
			margin: 12px 0 5px

	.seo-section
		h2
			margin: 0 0 24px
			padding: 0

	.reviews
		h2
			padding: 0
			margin: 0 0 16px

	.reviews-services h3
		font-size: 16px

	footer
		margin: 100px 0 0
		padding: 40px 0 50px

	.footer-box
		&:last-child
			width: 40%
			margin: -110px 0 0

	label
		margin: 0 0 24px

	.information-box
		.box-text
			width: 100%
			margin: 0 0 24px
			padding: 0

	.product-info-box
		.btn-group
			max-width: none
			width: calc(100% - 142px - 24px)

	.difference
		margin: 0 0 0 auto

	.tabs__caption-product
		font-size: 16px
		margin: 0 0 24px

	.attention-box
		margin: 60px 0

	.articles-product, .recommended
		h2
			padding: 0

	.article-card__title
		font-weight: 600

	.page-error
		&-wrapper__image
			max-width: 690px

	.table
		margin: 40px 0

	.about-products
		margin: 40px 0 28px
		.box-text
			margin: 8px 0 24px
		.col-30
			width: 50%
		.chapter-card
			.link
				display: flex

	.tabs__caption
		li
			margin: 0 6px 10px 0
			&:last-child
				margin: 0 0 10px

	.tabs__content
		margin: 28px 0 0

	.page-news
		h1
			margin: 0 0 16px
		.title-wrapper
			flex-wrap: wrap
			&__text
				width: 100%
			.box-text
				display: none

	.list-filter
		overflow-x: auto
		flex-wrap: nowrap
		white-space: nowrap
		margin: 0 0 20px
		padding: 0 0 12px

	.list-filter-link.active
		background: #F8F3FC
		color: #7C0DC6

	.news-row
		.col-30, .col-25
			width: 50%

	.btn-load
		margin: 20px auto 0

@media only screen and (max-width: 710px)
	.home-slider .box-image
		max-width: 500px

	.col-25
		width: 50%

	.seo-section
		h2
			margin: 0 0 24px

	.product-info-box
		h1
			max-width: none
			width: 100%
			margin: 0 0 16px
		&:first-child
			.product-info-box__footer
				margin: 0

	.tabs__caption-product
		flex-wrap: nowrap
		overflow-x: auto
		li
			white-space: nowrap

	.requisites
		max-width: none
		width: 100%
		margin: 8px 0 0
		padding: 16px 24px

	.contats-wrapper
		padding: 40px 13px
		&__content
			width: 100%
		.box-text
			margin: 8px 0 32px

	.article-evaluation
		width: 100%
		margin: 16px 0 0

	.page-acticle-line
		.news-box__report
			width: 100%
			order: 1
			margin: 16px 0 0
		.list-category-news
			margin: 0 auto 0 0 

	.page-acticle h2
		margin: 15px 0 10px

@media only screen and (max-width: 576px)
	header
		padding: 35px 0
		transition: .3s ease
		.logo
			margin: 0 auto 0 0
		&.fixed
			padding: 22px 0

	.breadcrumb
		font-weight: 400
		li
			&:first-child
				a
					color: #767676
					font-weight: 300
			a
				color: #161616

	.logo
		max-width: 120px

	.dropdown-catalog
		display: none

	.btn
		height: 44px
		padding: 10px 16px
		font-size: 16px

	.title-wrapper
		flex-wrap: wrap
		margin: 0 0 24px
		h2
			margin: 0
		.link
			display: none

	.home
		.container
			padding: 0 8px
		.btn
			height: 38px
			font-size: 16px

	.home-slider
		&__item
			display: flex
			flex-wrap: wrap
			padding: 20px 12px 135px
			font-size: 14px
			.description
				max-width: none
		.box-text
			max-width: none
			width: 100%
			.btn
				margin: 24px 0 0
		.box-image
			order: -1
			margin: 0 auto 24px
			max-width: 335px
			position: relative
			right: 0
			top: 0

	.h1
		margin: 8px 0
		font-size: 26px

	.home-slider-nav__wrapper
		padding: 0 12px
		bottom: 18px

	.home-slider-nav
		&__item
			font-size: 14px
			width: 335px
			padding: 24px

	.slider-progress
		left: 12px
		width: 335px

	h2
		font-size: 20px
		padding: 0

	h3
		font-size: 16px

	.your-choice
		.col-30
			width: 100%
			&:nth-child(2)
				order: 0
				.chapter-card__img
					max-width: 258px

	.chapter-card
		min-height: 200px
		&__img
			max-width: 170px

	.advantages
		background: radial-gradient(75.51% 27.58% at 80.27% 54.82%, rgba(124, 13, 198, 0.28) 0%, rgba(255, 255, 255, 0) 100%)

	.advantages-box
		padding: 24px 12px
		flex-wrap: wrap
		font-size: 14px
		margin: 0 0 24px
		&__text
			width: calc(100% - 32px)
			padding: 0 0 0 16px
		&__icon
			width: 32px
			height: 32px
		h3
			font-size: 18px

	.advantages-list
		width: calc(100% + 15px)
		margin: 0 -7.5px

	.hot-prices
		.col-25
			display: none
			&:nth-child(-n+3)
				display: none
			&:nth-child(-n+2)
				display: block

	.row-scroll
		flex-wrap: nowrap
		overflow-y: auto

	.news-card
		font-size: 14px
		&__title
			font-size: 18px
		&__img
			height: 200px

	.m-100
		margin: 80px 0

	.seo-section
		.box-text
			font-size: 14px

	.reviews-services
		h3
			width: 100%
			margin: 0 0 16px

	footer
		padding: 40px 0
		margin: 88px 0 0

	.footer-box
		width: 100%
		margin: 0 0 32px
		&:last-child
			width: 100%
			margin: 0
			.footer-box__title
				display: flex
		&:nth-child(2)
			margin: 0 0 24px
		&__menu
			display: none
			margin: 16px 0 0
		&__title
			display: none
			&-toggle
				display: flex
				align-items: center
				margin: 0
				&:after
					content: ''
					background: url('../img/arrow-select.svg') no-repeat center
					background-size: 100%
					margin: 0 0 0 22px
					width: 24px
					height: 24px
					filter: brightness(0) invert(1)

	.footer-box__title-toggle
		color: #fff

	.page
		padding: 110px 0 0

	.sorting-wrapper
		display: none

	h1
		font-size: 20px

	.col-30
		width: 50%

	.banner
		&-img
			max-width: 183px
			right: -25px
		.box-text
			max-width: 170px
		.btn
			margin: 40px 0 0
			height: 52px
			padding: 10px 24px
		h3
			font-size: 20px

	.form .col-50
		width: 100%

	.modal__div
		max-width: 335px
		h3
			font-size: 20px

	#thanksModal, #errorModal
		.modal__wrapper
			padding: 50px 17px 40px

	.page-product .nav-breadcrumb .link-share
		display: none

	.product-info-box
		&:first-child
			.product-info-box__footer
				order: -2
				margin: 0 0 19px
				.list-characteristics
					display: flex
					width: fit-content
					margin: 0 auto 0 0
					span
						margin: 0 0 0 8px
			&__head
				margin: 0
		.btn-group
			width: 100%
			.btn
				height: 44px
				font-size: 16px

	.product-image
		height: 401px

	.delivery-instant, .list-payment, .payments-method
		display: none

	.difference
		width: 100%
		margin: 16px 0 0

	.checkout-box
		h3
			display: none
		.list-characteristics
			width: 100%
			li
				&:first-child

					display: none
		label
			width: 100%
		.btn
			height: 48px
			font-size: 16px

	.promo-link
		margin: 0 auto

	.list-characteristics li
		margin: 0 0 8px
		&:last-child
			margin: 0

	.information-box
		margin: 25px 0 50px
		padding: 24px 16px
		.box-text
			margin: 0 0 16px

	.attention-box
		margin: 40px 0 60px
		&__icon
			display: none
		&__text
			width: 100%
			padding: 0

	.panel_heading
		h3
			font-size: 18px

	.block_title
		padding: 24px 13px

	.block_hover
		padding: 0 13px 24px

	.articles-product
		.col-30
			width: 320px
			min-width: 320px

	.recommended
		.col-30
			display: none
			&:nth-child(-n+2)
				display: block

	.form
		.btn
			width: 100%

	.seo-section
		h2
			max-width: 480px

	.page-error
		.box-text
			margin: 48px auto 24px
		&-wrapper__image
			max-width: 335px

	.table
		margin: 40px 0
		th, td
			padding: 12px
			&:first-child
				width: 50%

	.tabs__caption
		font-size: 14px
		li
			padding: 11px 15px

	.tabs__content
		margin: 10px 0 0

	.about-products .col-30
		width: 100%

	.news-box-max
		.news-box__body
			flex-wrap: wrap
		.list-category-news
			flex-wrap: wrap
			margin: 24px 0 0

	.news-box__title
		width: 100%

	.news-row
		.mb-40
			margin-bottom: 32px
		.col-30, .col-25
			width: 100%

	.product-card__img
		padding: 0

	.distribution-box
		padding: 30px 20px
		font-size: 14px
		&__title
			font-size: 16px	

	.mb-35
		margin-bottom: 20px	

	.distribution-line
		flex-wrap: wrap		
		.btn
			margin: 0 auto
		.product-line__name
			width: calc(100% - 56px)
			padding: 0 0 0 15px	

	.distribution-line-characteristics
		width: 100%
		margin: 10px 		
		font-size: 14px

	.disctribution-content
		margin: 40px 0 0
		h3
			margin: 0 0 20px
			font-size: 22px	

	.page-reviews .tabs__caption
		margin: 20px 0

	.reviews-box__footer
		margin-top: 16px

	.reviews-box__user
		width: 100%
		margin: 10px 0 0
		text-align: left

	.reviews-box__user-name
		text-align: left
		align-items: flex-start

	.reviews-box__user-avatar
		order: -1
		margin: 0 10px 0 0	

	.answer-box
		padding-left: 16px
		margin-top: 24px					

@media only screen and (max-width: 480px)
	.product-card
		&__img
			padding: 40px 0
			border: none
			background: #F8F8F8
		.promo-label-list
			padding: 8px 1px
		&__footer
			.btn
				display: none
		.link-add-card
			margin: 0

	.promo-label
		font-size: 10px

	.price
		font-size: 18px

	.table
		font-size: 12px
		line-height: normal

	.product-info-box .btn-group .btn
		width: 100%	

@media only screen and (max-width: 370px)
	.home-slider-nav
		&__item
			width: 100%

	.slider-progress
		width: calc(100% - 24px)

	.page-acticle .box-text .product-line__name
		font-size: 18px

	table th, table td
		padding: 10px

	.table
		font-size: 10px

	.distribution-box
		padding: 20px 15px
		&__title
			font-size: 14px